<template name="edu_dashboard_set">
	{{> header_awesome}}
		<!-- Sidebar -->
		<!-- {{> edu_side_nav}} -->

		<!-- Page content here -->
		<br />
		{{> edu_dashboard_set_menu}}
</template>


<template name="edu_dashboard_set_menu">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12"></div>
	        <div class="col-md-12">
	            <ul class="list-group">

	                <li class="list-group-item">
	                	<div class="row">
	                		<div class="col-md-2 make-clickable">
			                	<img style="max-width:100px; margin-top: 7px;" src="/img/chemwiki/GeneralChemistry.png"/>
			                </div>
			                <div class="col-md-10">
			                	<div class="row">
			                		<div class="col-md-8 make-clickable">
			                			<span class="qoll-comment-display-2" style="font-size: x-large;">Open Stax</span><br/>
			                			<span class="qoll-comment-display-13" style="font-size: x-large;">Essential Ideas of Chemistry</span>
			                			<span class="qoll-comment-display-13" style="">Essential(7), Ideas(5), Chemistry(1), And All(1)</span><br/>
			                			<span class="qoll-comment-display-13" style="font-size: larger;">
			                				Author: Anoop Kaushik
			                			</span>
			                			<span class="qoll-comment-display-3" style="font-size: larger;">
			                				Created On: Apr 16th 2016, 11:44 pm
			                			</span><br/>
			                		</div>
			                		<div class="col-md-4">
			                			<div class="row" style="padding-top: 1em;"><div class="col-md-12">
			                				<span class="label label-default label-pill pull-right make-clickable" style="font-size: larger;">Qolls- 14</span>
			                			</div></div>
			                			<div class="row" style="padding-top: 1em;"><div class="col-md-12">
			                				<span class="label label-default label-pill pull-right make-clickable" style="font-size: larger;"> Sets- 14</span>
			                			</div></div>
			                			<div class="row make-clickable" style="padding-top: 1em;"><div class="col-md-12">
			                				<span class="qoll-comment-display-3 pull-right">Edit &#8658;</span>
			                				<span class="qoll-comment-display-3 pull-right" style="padding-right:1em;">&#8656; Back</span>
			                			</div></div>
			                			
			                		</div>
			                	</div>
			                	
			                </div>
			            </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>

</template>