<template name="temp_editor">
<!-- 1
	{{#autoForm id="afInsertDemo" type="insert" collection=Collections.People}}
	  <div class="form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
	    <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
	    {{> afFieldInput name='firstName'}}
	    {{#if afFieldIsInvalid name='firstName'}}
	    <span class="help-block">{{{afFieldMessage name='firstName'}}}</span>
	    {{/if}}
	  </div>
	  <div class="form-group {{#if afFieldIsInvalid name='lastName'}}has-error{{/if}}">
	    <label class="control-label">{{afFieldLabelText name='lastName'}}</label>
	    {{> afFieldInput name='lastName'}}
	    {{#if afFieldIsInvalid name='lastName'}}
	    <span class="help-block">{{{afFieldMessage name='lastName'}}}</span>
	    {{/if}}
	  </div>
	  <div class="form-group {{#if afFieldIsInvalid name='age'}}has-error{{/if}}">
	    <label class="control-label">{{afFieldLabelText name='age'}}</label>
	    {{> afFieldInput name='age'}}
	    {{#if afFieldIsInvalid name='age'}}
	    <span class="help-block">{{{afFieldMessage name='age'}}}</span>
	    {{/if}}
	  </div>
	  <div class="form-group">
	    <button type="submit" class="btn btn-primary">Add Person</button>
	    <button type="reset" class="btn btn-default">Reset Form</button>
	  </div>
	{{/autoForm}}

-->
 <!-- 2 {{> quickForm collection="Books" id="insertBookForm" type="insert"}} -->

{{> quickForm id="fields1" schema=Schemas.FieldsExamples}}

</template>