<template name="addQoll">
	<div class="content">
		<div class="qoll-toolbar">
			<h4>Add a Qoll<h4>
		</div><p></p>
		<!--input type="text" class="qoll-title qoll-type-option" id="qolltitle" placeholder="Qoll Title Here ..."><p-->
		<div class="editor-writer">
			<textarea class="editor-upen editor-writer" name="qollText" id="qollText" placeholder="Qoll Content Here ..."></textarea>
		</div><p></p>


		<div class="options-and-users">

			<div class="input-group div-qoll-types pull-left">
		  		<input type="text" class="qoll-type-option" id="qolltypeoption" placeholder="Qoll Choice ..."/>
		  		<span class="input-group-addon input-group-addon-klik add-option">+Choice</span>
			</div>

			<div class="input-group div-qoll-types pull-right">
		  		<input type="text" class="qoll-type-option" id="qollsendto" placeholder="Type Group/Email(s) eg user12345@qoll.io;user54321@qoll.io,user4567@qoll.io"/>
		  		<span class="input-group-addon input-group-addon-klik send-to">+Send to</span>
			</div>

		</div>
		<p></p><p>&nbsp;</p>
		<div class="options-and-users">

			<div class="panel panel-default panel-qoll-type-list pull-left" id="options">
			  <div class="panel-heading">
			    <h3 class="panel-title">Added Choices</h3>
			  </div>
			  <div class="panel-body" id="qolloptions">
			  	<!--div class="qoll-type-panel">Panel content 1</div-->
			  	<!--a class="btn btn-danger btn-sm" href="#"><i class="fa fa-trash-o fa-sm"></i></a-->
			  </div>
			</div>

			<div class="panel panel-default panel-qoll-type-list pull-right" id="groups">
			  <div class="panel-heading">
			    <h3 class="panel-title">Send List</h3>
			  </div>
			  <div class="panel-body" id="sendtoemails">
			  	<!--div class="qoll-type-panel">Panel content 1</div-->
			  	<!--a class="btn btn-danger btn-sm" href="#"><i class="fa fa-trash-o fa-sm"></i></a-->
			  </div>
			</div>
		</div>

	</div>


	<!--div class="row">
		<div class="col-12 col-xs-12 border-box">
			<textarea rows="3" class="input-xxlarge editor-writer" name="qollText" id="qollText" placeholder="Post a qoll..."></textarea>
		</di
	</div-->

	<!--div class="col-1 col-xs-2">
			
	</div>
	<div class="col-2 col-xs-4"-->
	<span >
		<!--input type="button" class="btn-info add-qoll {{#unless currentUser}}disabled{{/unless}}" value="Qoll"/-->
		<a href="#" class="btn btn-primary store-qoll {{#unless currentUser}}disabled{{/unless}}" role="button">
			<i class="glyphicon glyphicon-save"></i>Store Qoll</a>
		<a href="#" class="btn btn-primary send-qoll {{#unless currentUser}}disabled{{/unless}}" role="button">
			<i class="glyphicon glyphicon-send"></i>Send Qoll</a>
	</span>


	
</template>