<template name="qolls">
  <p>&nbsp;</p><p>&nbsp;</p>
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-8 col-sm-8 table-responsive">
      <div class="qoll-toolbar">
        <h4>All qolls -<h4>
      </div>
      <p class="lead">
        <table id="printQolls" class="table table-stripped table-condensed table-hover">
          <tbody>
          {{#each allQolls}}
            <tr class="">
               <td class="qoll-text">
				   <ul class="list-group">
					   <li href="#" class="list-group-item active">{{qollText}}</li>
				   <ul class="list-group indent-littlebit">
					    {{#each qollTypes}}
					<li href="#" class="list-group-item">{{this}}</li>
{{/each}}
				</ul>
				</ul>
				   </td>
               

               <td>
                {{#if iif_yesno qollType}}
                  {{> yesno}}
                {{/if}}
                {{#if iif_yesnomaybe qollType}}
                  {{> yesnomaybe}}
                {{/if}}
                {{#if iif_likedislike qollType}}
                  {{> likedislike}}
                {{/if}}
                {{#if iif_likedislikeindiff qollType}}
                  {{> likedislikeindiff}}
                {{/if}}
                {{#if iif_default qollType}}
                  {{> default}}
                {{/if}}
                <!--span id="{{_id}}">{{{ iif qollType this}}}</span-->
                
               </td>
            </tr>
           {{/each}}
          </tbody>
        </table>
      </p>
    </div>

    <div class="col-4 col-sm-4 centered">
      <!--<div class="charts"></div>-->
      <canvas id="charts" width="200" height="200"></canvas>
      <div class="chartStats" id="chartStats"></div>
    </div>

  </div>
</template>
