<template name="qolls">
<p class="lead">
<div class="container" id="qoll-container-id">
  <div class="row">
    {{#each allQolls}}
    <div>
    <div class="col-md-12 col-xs-12 list-group-item bg-qoll" id='{{_id}}'>

      <div class="col-md-10 col-xs-8">{{#mathjax}}{{{qollText}}}{{/mathjax}}</div>

      <div class="col-md-2 col-xs-4">
        {{#if if_createusr}}
        	<span class="badge lesstoggle">{{get_totals}}</span>
          {{#if if_stored}}
          <span class="pull-right send-qoll-btn glossy"><i class="glyphicon glyphicon-send blue ios-enabled"></i></span>
          {{/if}}
          {{#if if_send}}
            <span class="pull-right lock-qoll-btn glossy"><i class="glyphicon glyphicon-off orange lock-btn ios-enabled"></i></span>
          {{/if}}
          {{#if if_lock}}
            <span class="pull-right resend-qoll-btn glossy"><i class="glyphicon glyphicon-refresh blue resend-btn ios-enabled"></i></span>
          {{/if}}          
          <span class="pull-right render-chart-btn glossy"><i class="glyphicon glyphicon-stats green ios-enabled"></i></span>
          <span class="pull-right archive-qoll-btn glossy"><i class="glyphicon glyphicon-trash red ios-enabled"></i></span>
        {{/if}}
        {{#unless if_createusr}}
        	<span class="badge pull-right sender-badge">{{sendingUser}}</span>
        {{/unless}}
      </div>
    </div>
    
      {{#eachport qollTypes}}
      {{#include parent=.. }}
      <div class="col-md-10 col-xs-10 list-group-item {{check_orange ../../_id _iter_ix}}">
        <div class="col-md-8 col-xs-8 indent-littlebit" id="{{_iter_ix}}">
           <span class="badge pull-left qoll-response-val {{qoll_abbr_class _iter_ix}} glossy">{{qoll_type_abbr _iter_ix}}</span>
            &nbsp;{{{_iter_v}}}
        </div>
        <div class="col-md-2 col-xs-2">
            <span class="badge pull-right fulltoggle">{{value_at ../../stats _iter_ix}}</span>
        </div>
        {{#with  value_at ../../answers _iter_ix}}
        <div class="col-md-12 col-xs-12  list-group-item-info">
            
            Answered By:	{{comma_seperate this}}
           
        </div>
         {{/with}}
      </div>

      {{/include}}
      {{/eachport}}
    

      <div class="col-md-4 col-xs-4">
        <canvas id="charts{{_id}}" width="50" height="50"></canvas>
        <div class="chartStats{{_id}} chartStats" id="chartStats{{_id}}"></div>
      </div>
</div>
    {{/each}}
  </div>
</div>
</p> 
</template>
<template name="contextbtns">
	            {{#if if_inbox}}
            	<li><button type="button" class="btn btn-link information-toggle"><span class="glyphicon glyphicon-volume-up information-toggle-txt">{{info_pref}}</span></button></li>
            {{/if}}
	
</template>
