<template name="qolls">
<p class="lead">
<div class="container" id="qoll-container-id">
  <div class="row">
    {{#each allQolls}}
    <div class="col-md-12 col-xs-12 list-group-item">
      <div class="col-md-10 col-xs-10">{{qollText}} - {{qollTypeVal _id}}</div>
      <div class="col-md-2 col-xs-2">
        {{#if if_createusr}}
          {{#if if_stored}}
          <span class="pull-right send-qoll-btn"><i class="glyphicon glyphicon-send blue"></i></span>
          {{/if}}
          {{#if if_send}}
            <span class="pull-right lock-qoll-btn"><i class="glyphicon glyphicon-off orange lock-btn"></i></span>
          {{/if}}
          <span class="pull-right render-chart-btn"><i class="glyphicon glyphicon-stats green"></i></span>
        {{/if}}
      </div>
    </div>
    
      {{#eachport qollTypes}}
      {{#include parent=.. }}
      <div class="col-md-10 col-xs-10 list-group-item">
        <div class="col-md-8 col-xs-8 indent-littlebit qoll-response-val" id= "{{_iter_ix}}">
           <span class="badge pull-left {{qoll_abbr_class _iter_ix}}">{{qoll_type_abbr _iter_ix}}</span>
            &nbsp;{{_iter_v}}
        </div>
        <div class="col-md-2 col-xs-2">
            <span class="badge pull-right">{{value_at ../../stats _iter_v}}</span>
        </div>
      </div>
      {{/include}}
      {{/eachport}}
    

      <div class="col-md-4 col-xs-4">
        <canvas id="charts{{_id}}" width="50" height="50"></canvas>
        <div class="chartStats{{_id}} chartStats" id="chartStats{{_id}}"></div>
      </div>

    {{/each}}
  </div>
</div>
</p> 
        
</template>


<!-- template name="qolls">
<div class="container" id="qoll-container-id">
  <div class="row">
  <div class="col-md-6 col-xs-6">
      <div class="table-responsive" id="primary-tab">
            <p class="lead">
              <table id="printQolls" class="table table-stripped table-condensed table-hover">
                <tbody>
                {{#each allQolls}}
                  <tr class="">
                     <td class="qoll-text">
                       <ul class="list-group">
                        <li href="#" class="list-group-item active">
                          {{qollText}}
                          {{#if if_createusr}}
                            {{#if if_stored}}
                            <span class="pull-right send-qoll-btn"><i class="glyphicon glyphicon-send blue"></i></span>
                            {{/if}}
                            {{#if if_send}}
                              <span class="pull-right lock-qoll-btn"><i class="glyphicon glyphicon-lock red"></i></span>
                            {{/if}}
                            <span class="pull-right render-chart-btn"><i class="glyphicon glyphicon-stats green"></i></span>
                          {{/if}}
                        </li>

                        <div class="container">
                        <div class="row">

                          <div class="col-lg-8 col-md-8 col-xs-8">
                           <ul class="list-group indent-littlebit">
                               {{#eachport qollTypes}}
                               {{#include parent=.. }}
                                
                                <li  href="#" id= "{{_iter_ix}}"  class="list-group-item qoll-response-val">
                                  <span class="badge pull-left {{qoll_abbr_class _iter_ix}}">{{qoll_type_abbr _iter_ix}}</span>
                                  &nbsp;{{_iter_v}}
                                   <span class="badge pull-right">{{value_at ../../stats _iter_v}}</span>
                                </li>

                              {{/include}}
                              {{/eachport}}
                      
                          </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4">
                          <canvas id="charts{{_id}}" width="50" height="50"></canvas>
                          <div class="chartStats{{_id}}" id="chartStats{{_id}}"></div>
                        </div>

                    </ul>
                 </td>
                     

                  </tr>
                 {{/each}}
                </tbody>
              </table>
            </p>
          </div>
</div>
</div>
</div>
        
</template -->
