<template name="social_my_groups">
	{{> header_awesome page_label="MY GROUPS"}}

	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> qoll_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">

		<a href="#" class="round-button round-margin newgroup">G+</a>
		<br />

		{{> share_circle_templ}}

		{{> subsc_templ}}

		{{> owned_templ}}

		<!--{{> default_collab_templ}}-->

		{{> slide_up_group}}

		</div>
	</div>

</template>


<template name="social_my_groups_1">
	{{> header_awesome page_label="MY GROUPS"}}
	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> social_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid container">
			
			<!--div class="page-content"-->
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
					  <li class="active"><a href="#subscriber" role="tab" data-toggle="tab">Group Maintenance</a></li>
					  <li><a href="#owner" role="tab" data-toggle="tab">Owner</a></li>
					  <!-- li><a href="#open_requests" role="tab" data-toggle="tab">Open Requests</a></li -->
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="subscriber">
							<div class="">
						  	  {{> subsc_templ groups=subsc_groups }}
						  	</div>
					  	  	<div class="">
						  	  {{> default_collab_templ groups=subsc_groups }}
						  	</div>
						</div>
					  <div class="tab-pane" id="owner">
					  	{{> owned_templ groups=groups }}
					  </div>
					  <div class="tab-pane" id="open_requests">Open Requests ...</div>
					</div>

			<!--/div-->

			{{> slide_up_group}}
		</div>
		</div>
	</div>
</template>


<template name='share_circle_templ'>
	<div class="container-fluid">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >Share Circles (managed by Qoll)</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!--/start contents here -->

		<br />
		<h5>My share circles</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table-condensed table-hover">
		        <thead>
		          <tr>
		            <th>Circle Name</th>
		            <th>Detail</th>
		            <th>Owner</th>
		          </tr>
		        </thead>
		        <tbody>
				{{#each my_share_circle_assign}}
		            <tr>
		              <td>{{share_circle}}</td>
		              <td>{{description}}</td>
		              <td>Qoll</td>
		            </tr>
		        {{/each}}
		        </tbody>
		      	</table>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
</template>

<template name='owned_templ'>
	<div class="container-fluid">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >My Groups</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!--/start contents here -->

		<br />
		<h5>Active Groups</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table-condensed table-hover">
		        <thead>
		          <tr>
		            <th>Group</th>
		            <th>Description</th>
		            <th>Attributes</th>
		            <th>&nbsp;</th>
		          </tr>
		        </thead>
		        <tbody>
				{{#each groups}}
		            <tr>
		              <td>{{groupName}}</td>
		              <td>{{groupDesc}}</td>
		              <td>Size : {{groupSize}}<br /> Access : {{pubOrPvt}}<br />  Author : {{author_email}}</td>
		              <td>
		              	<button type="button" id="remove-group" class="btn btn-danger" style="float: right;">
		              		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
		              	</button>
		              </td>
		            </tr>
		        {{/each}}
		        </tbody>
		      	</table>
		    </div>
		    <div class="col-md-1"></div>
		</div>


		<br />
		<h5>Open Subscription Requests</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table-condensed table-hover">
		        <thead>
		          <tr>
		            <th>Group</th>
		            <th>User Name</th>
		            <th>User Id</th>
		            <th>Access Approved?</th>
		            <th>&nbsp;</th>
		          </tr>
		        </thead>
		        <tbody>
				{{#each my_pending_approval_req_group}}
		            <tr>
		              <td>{{group_name}}</td>
		              <td>{{user_name}}</td>
		              <td>{{user_email}}</td>
		              <td>{{access_approved}}</td>
		              <td>
		              	<button type="button" id="deny" class="btn btn-danger" style="float: right;">
		              		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Deny
		              	</button>&nbsp;
		              	<button type="button" id="approve" class="btn btn-primary" style="float: right; margin-right: 5px;">
		              		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Approve
		              	</button>&nbsp;
		              </td>
		            </tr>
		        {{/each}}
		        </tbody>
		      	</table>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
</template>

<template name='subsc_templ'>
	<br />

	{{#autoForm schema=customGroupSubscribeSchema resetOnSuccess="true" id="groupSubscribeForm" type="normal" doc=mydoc}}
	<div class="container-fluid">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div>Group Subscriptions</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!--/start contents here -->

		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					{{> afQuickField type="xautocomplete" xmultiple=true resetOnSuccess=true
						          formid="groupSubscribeForm" name="group_name"
						          renderKey="name" fieldref="group_ref" call="fetch_user_groups" 
						          renderfunction="renderGroupsNdOwners"}}
				</div>
				<div class="col-md-1"></div>
		</div>

		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>Subscribe
				</button>
			</div>
			<div class="col-md-1"></div>
		</div>

		<br />
		<h5>My Subscriptions</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table-condensed table-hover">
		        <thead>
		          <tr>
		            <th>Group</th>
		            <th>Description</th>
		            <th>Attributes</th>
		            <th>&nbsp;</th>
		          </tr>
		        </thead>
		        <tbody>
				{{#each subsc_groups}}
		            <tr>
		              <td>{{groupName}}</td>
		              <td>{{groupDesc}}</td>
		              <td>Size : {{groupSize}}<br /> Access : {{pubOrPvt}}<br />  Author : {{author_email}}<br />Approval : <span class="{{highlightAccessApproved accessApproved}}">{{accessApproved}}</span> </td>
		              <td>
		              	<button type="button" id="leave" class="btn btn-danger">
		              		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Leave
		              	</button>
		              </td>
		            </tr>
		        {{/each}}
		        </tbody>
		      	</table>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
	{{/autoForm}}

	<br />
	<br />
</template>

<template name='default_collab_templ'>
	{{#autoForm schema=customCollabGroupSchema resetOnSuccess="true" id="groupCollabForm" type="normal" doc=mydoc}}
	<div class="container-fluid">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >Collaborate In Groups</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!--/start contents here -->

		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					{{> afQuickField type="xautocomplete" xmultiple=true resetOnSuccess=true
						          formid="groupCollabForm" name="collab_groups"
						          renderKey="group_id" fieldref="group_desc" call="fetch_my_groups" 
						          renderfunction="renderCollabGroups"}}
					<!-- {{> afQuickField type="xautocomplete" xmultiple=true resetOnSuccess=true
						          formid="groupCollabForm" name="group_name"
						          renderKey="group_name" fieldref="group_ref" call="fetch_my_groups" 
						          renderfunction="renderCollabGroups"}} -->
				</div>
				<div class="col-md-1"></div>
		</div>

		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>Assign
				</button>
			</div>
			<div class="col-md-1"></div>
		</div>

		<br />
		<h5>My Collaboration Groups</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table-condensed table-hover">
		        <thead>
		          <tr>
		            <th>Group</th>
		            <th>Description</th>
		            <th>Attributes</th>
		            <th>&nbsp;</th>
		          </tr>
		        </thead>
		        <tbody>
				{{#each subsc_groups}}
		            <tr>
		              <td>vvv</td>
		              <td>yyy</td>
		              <td>Size : sss<br /> Access : aaa<br />  Author : aaa</td>
		              <td>
		              	<button type="button" id="unassign" class="btn btn-danger">
		              		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>UnAssign
		              	</button>
		              </td>
		            </tr>
		        {{/each}}
		        </tbody>
		      	</table>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
	{{/autoForm}}
</template>


<template name="custom_group_subscribe_to">
    <td class="qoll-auto-complete qoll-comment-only-hover">
    	<span class="qoll-comment-display-2">{{this.name}}</span>
    	<span class="qoll-comment-display-3">{{this.email}}</span>
    	<span class="qoll-comment-display-8"><u>{{this.group_name}}</u></span>
    </td>
</template>

<template name="custom_group_collab_assign">
    <td class="qoll-auto-complete qoll-comment-only-hover">
    	<span class="qoll-comment-display-2 red_1">{{this.group_ref}}</span>
    	<!-- <span class="qoll-comment-display-8">(<u>{{this.group_name}}</u>)</span> -->
    </td>
</template>

