<template name="all_qolls">
	{{> header_awesome  page_label="ALL QOLLS"}}

	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> qoll_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid container">
			
			<!-- Keep all page content within the page-content inset div! -->
				<div class="row">
	            	
						<div class="col-md-10 col-sm-10 com-xs-8">
							&nbsp;<!--input type="text" class="filter-by-tag form-control" placeholder="Filter by typing tags ..." default="Qollstionnaire title" -->
						</div>
						<div class='col-md-2 col-sm-2 col-xs-4'>
							<a href="{{ pathFor 'all_qolls' }}" class='black-link pointer'>
						        <span class='title-qoll glyphicon glyphicon-align-justify'>Flat</span>
							</a>
							&nbsp;
							<a href="{{ pathFor 'all_qolls_folder' }}" class='black-link pointer'>
						        <span class='title-qoll glyphicon glyphicon-folder-close'>Folder</span>
							</a>

						</div>
				</div>
				<br>
					{{#each qolls}}
				<div class="row">
				<!-- Start of Qoll Section -->
				<div class="col-md-12 col-xs-12 list-group-item" id='qdiv_{{_id}}'>

					<div class="row">
					<div class="col-md-1 col-sm-1 col-xs-1">
						<input type="checkbox" class="qoll_selection" id="{{_id}}"/>
					</div>
					<div class="col-md-8 col-sm-7 col-xs-7 make-clickable">
						<a href="{{ pathFor 'qollView' }}" class='black-link'>
							{{#each imgs imageIds}}
					          <img src="{{this.url store='thumbs_1'}}" class="qoll-thumbs" style="zoom: 20%;" data-gallery id="{{this._id}}"/>
					        {{/each}}
					        
					        <span class='title-qoll'>
								{{{transform_txt qollTitle cat QollConstants.CONTEXT.WRITE fib tex texMode idx}}}</span> - 
								{{{transform_txt qollText cat QollConstants.CONTEXT.WRITE fib tex texMode idx}}} 
								<span class="qoll-comment-display-2">By: {{{byUser}}} </span> 
								<span class="qoll-comment-display-13">Source: {{{fromSource}}} </span> 
								<span class="qoll-comment-display-3">Created On: {{ submitted_on submittedOn }}</span>
						</a>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-1 desk-only">
						{{cat}}
					</div>
					<div class="col-md-1 col-sm-1 col-xs-1">
						{{#if is_fb_user}}
						<!-- i class="fa fa-lg fa-facebook fa-border btn-primary"></i -->
						<span class="fa-stack fa-lg facebook ios-enabled">
						  <i class="fa fa-square-o fa-stack-2x blue_1"></i>
						  <i class="fa fa-facebook fa-stack-1x blue_7"></i>
						</span>
						{{/if}}

						<!-- span class="fa-stack fa-lg sendemail">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-envelope-o fa-stack-1x"></i>
						</span -->

					</div>
					<div class="col-md-1 col-sm-2 col-xs-3">
						{{#if isOwner}}
						<span class="pull-left archive-qoll-btn glossy-action r-marge"><i class="glyphicon glyphicon-trash red ios-enabled"></i></span>
						<!--span class="pull-right edit-qoll-btn glossy"><i class="glyphicon glyphicon-edit ios-enabled"></i></span-->
						<span class="pull-left glossy-action">
							<a href="{{ pathFor 'update_qoll' }}">
								<i class="glyphicon glyphicon-edit ios-enabled"></i>
							</a>
						</span>
						<!-- span class="pull-right glossy"><a href="{{ pathFor 'quickedit_qoll' }}" class="btn btn-default"><i class="glyphicon glyphicon-edit ios-enabled"></i></a></span -->
						{{/if}}
					</div>
					{{> qollModalEditor}}
					</div>
				</div><!-- list-group-item list-group-item-success -->
				<!-- End of Qoll Section here -->
				</div><!-- /row-->
				{{/each}}

				{{> slide_up_bank}}

			</div>
		</div>
	</div>
</template>