<template name="slide_up_bank">
	{{#autoForm schema=customQuestionnaireSchema id="questionnaireForm" type="normal"}}
	<div class="qbank_pop">
		<div class='pop-nav'>
			<div class='row'>
				<div class='col-md-11 col-sm-11 col-xs-10'>New Questionnaire (<span id='cnt'>0</span>)</div>
					<div class='col-md-1 col-sm-1 col-xs-2 pop-nav-actions'>
						<!-- span class="glyphicon glyphicon-minus toggle"></span>&nbsp; -->

						<button type="button" class="btn btn-danger btn-number toggle" style="margin-left: -30px;">
			                  <span class="glyphicon glyphicon-minus"></span>
			            </button>
					</div>
				</div>
		</div>

		<div class="form-static">

			<!-- div class="input-group input-group-sm fill_100_pct">
				<input type="text" class="qollstionnaire-title form-control" placeholder="Enter Qollstionnaire title ..." default="Qollstionnaire title" >
			</div -->

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
			        {{> afQuickField name="title"}}
			    </div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
			        <!-- {{> afQuickField name="tags"}} -->

			        {{> afQuickField type="xautocomplete" xmultiple=true resetOnSuccess=true
			          formid="questionnaireForm" name="tags"
			          renderKey="name" fieldref="tag" call="fetch_tags" 
			          renderfunction="renderTags"}}
			    </div>
			    <div class="col-md-6 col-sm-6 col-xs-6">
			        <!-- {{> afQuickField name="end_time"}} -->
			        {{> afQuickField name="end_time" type="bootstrap-datetimepicker"}}
			    </div>
			</div>

			<div class="row">
				<div class='col-md-12 col-sm-12 col-xs-12'>
				<!-- span class="input-group-btn">
			     	<button type="button" class="btn btn-primary qollQbankToggle qoll-width-1">Qoll To:<sup class="red">*</sup></button>
			    </span>
			    <input type="text" class="recipient form-control" placeholder="Send To: Recipients seperated by comma ..." default="procrazium@gmail.com" id="recipient_search" data-intro="Start by creating a comma separated list of recipient group-names and/or emails. Group names support autocomplete." data-step="1" -->

			    {{> afQuickField type="xautocomplete" xmultiple=true resetOnSuccess=true
		          formid="questionnaireForm" name="send_to"
		          renderKey="name" fieldref="email" call="fetch_my_emails" 
		          renderfunction="renderQollToEmails"}}
		      </div>
			</div>

			<!--div class="input-group input-group-sm minor-margin">
				<span class="input-group-btn">
			     	<button type="button" class="btn btn-primary qoll-width-1"  >Add Tags:<sup class="red">*</sup></button>
			    </span>
		    
				 <input type="text" class="form-control" placeholder="Add Tags: Space separated tags ..." default="" id="add-tags" data-intro="Start by creating space separated tags fo searching later ..." data-step="1">
			</div-->

		<br>
		</div>
		<div class="form-scroll">
			<div class="input-group input-group-sm minor-margin col-md-12" id="content1">
				<!--p class='init-info'>Select by clicking the checkbox to craete a questionaire.</p -->
			</div>
		</div>

		<div class="form-scroll-info">
			<span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number toggle" data-type="plus" data-field="quant">
                  <span class="glyphicon glyphicon-plus"></span>
                  (<span id='cnt'>0</span>)
              </button>
          </span>
		</div><!-- End: /form-scroll here -->

		<div class='save-nav'>
			<div class='col-md-6 col-sm-6 col-xs-12'>
				{{> afFieldInput name="state" type="select-radio-inline" firstOption="true" options=sendOrStore}}
			</div>
			<div class='col-md-6 col-sm-6 col-xs-12'>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<!-- <span class="fa-stack fa-md facebook btn-primary">
			  <i class="fa fa-square-o fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x"></i>
			</span>

			<span class="fa-stack fa-md sendemail btn-primary">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-envelope-o fa-stack-1x"></i>
			</span> -->
		</div>

	</div><!-- End: /qbank_pop here -->
	{{/autoForm}}
</template>


<template name="tags_autocomplete">
    <td class="qoll-auto-complete">{{this.tag}}</td>
</template>

<template name="topics_autocomplete">
    <td class="qoll-auto-complete">{{this.topic}}</td>
</template>