<template name="slide_up_bank">
	
	<div class="qbank_pop">
		<div class='pop-nav'>
			<div class='row'>
			<div class='col-md-11'>New Questionnaire (<span id='cnt'>0</span>)</div>
			<div class='col-md-1 pop-nav-actions'>
				<span class="glyphicon glyphicon-minus toggle"></span>&nbsp;

				<!-- span class="input-group-btn">
	              <button type="button" class="btn btn-danger btn-number" data-type="plus" data-field="quant">
	                  <span class="glyphicon glyphicon-minus toggle"></span>
	              </button>
	          </span -->
			</div>
			</div>
		</div>

		<div class="form-static">

			<div class="input-group input-group-sm fill_100_pct">
				<input type="text" class="qollstionnaire-title form-control" placeholder="Enter Qollstionnaire title ..." default="Qollstionnaire title" >
			</div>

			<div class="input-group input-group-sm minor-margin">
				<span class="input-group-btn">
			     	<button type="button" class="btn btn-primary qollQbankToggle qoll-width-1">Qoll To:<sup class="red">*</sup></button>
			    </span>
			    <input type="text" class="recipient form-control" placeholder="Send To: Recipients seperated by comma ..." default="procrazium@gmail.com" id="recipient_search" data-intro="Start by creating a comma separated list of recipient group-names and/or emails. Group names support autocomplete." data-step="1">
			</div>

			<div class="input-group input-group-sm minor-margin">
				<span class="input-group-btn">
			     	<button type="button" class="btn btn-primary qoll-width-1"  >Add Tags:<sup class="red">*</sup></button>
			    </span>
		    
				 <input type="text" class="form-control" placeholder="Add Tags: Space separated tags ..." default="" id="add-tags" data-intro="Start by creating space separated tags fo searching later ..." data-step="1">
			</div>

			<!-- Add the times here -->
		<div class="input-group input-group-sm minor-margin col-md-12">
			<span class="input-group-btn  ">
				<button type="button" class="btn btn-info qoll-width-1"  >
					Start Time
				</button> </span>

			<input id="qollsenddate" class="hasDatepicker form-control" type="text"  placeholder="Leave blank to send manually">
			<span class="input-group-addon ">
				<select class="qstion_send_hour">
					<!--option value="HH">HH</option -->
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12" selected="selected">12</option>
				</select>
				<select class="qstion_send_min">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
				</select>
				<select class="qstion_send_ampm">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select> </span>
		</div><!-- /start-time input-group -->
		<div class="input-group input-group-sm minor-margin col-md-12">
			<span class="input-group-btn  ">
				<button type="button" class="btn btn-info qoll-width-1"  >
					End Time
				</button> </span>

			<input id="qollenddate" class="hasDatepicker form-control" type="text"  placeholder="Leave blank to close manually">
			<span class="input-group-addon ">
				<select class="qstion_end_hour">
					<!--option value="HH">HH</option -->
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12" selected="selected">12</option>
				</select>
				<select class="qstion_end_min">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
				</select>
				<select class="qstion_end_ampm">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select> </span>
		</div><!-- /end-time input-group -->

		<br>
		</div><!-- End: /form-static here -->
		<div class="form-scroll">
			<div class="input-group input-group-sm minor-margin col-md-12" id="content1"><!-- /Start of the content here -->
				<p class='init-info'>Select by clicking the checkbox to craete a questionaire.</p>
			</div><!-- /End of the content here -->
		</div><!-- End: /form-scroll here -->

		<div class="form-scroll-info">
			<span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant">
                  <span class="glyphicon glyphicon-plus toggle"></span>
                  (<span id='cnt'>0</span>)
              </button>
          </span>
		</div><!-- End: /form-scroll here -->

		<div class='save-nav'>
			<button type="button" class="btn btn-primary store">Store</button>
			<button type="button" class="btn btn-primary send">Send</button>
			<!-- <span class="fa-stack fa-md facebook btn-primary">
			  <i class="fa fa-square-o fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x"></i>
			</span>

			<span class="fa-stack fa-md sendemail btn-primary">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-envelope-o fa-stack-1x"></i>
			</span> -->
		</div>

	</div><!-- End: /qbank_pop here -->

</template>