<template name="view_qollbank">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		{{> qolls_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="content-header">
	            <h1>
	            	<!-- Toggle on small screen -->
	                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
	                QBox
	            </h1>
	        </div>
			
			<hr class='divider'>
			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset">
				<div class="row">
	            	<div class="col-md-12 col-xs-12">
	            		<!-- Print the groups list -->
						{{> groups_container}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>