/**@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css');
HTML {
    height: 100%;
}
BODY {
    position: relative;
    height: 100%;
}
HEADER {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #ddd;
}
#side {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 10%;
    background-color: #eee;
    overflow: auto;
}
#Q {
    color: #D10609;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 48px;
}
#o {
    color: #1CEC4D;
    font-family: "Blackoak Std", Verdana;
    font-size: 24px;
}
#ll {
    color: #5973ED;
    font-family: Verdana;
    font-size: 40px;
}

ul
{
    list-style-type: none;
}
li
{
    list-style-type: none;
}**/