.class_0 {
	background-color: #0099FF;
}

.class_1 {
	background-color: #FF9933;
}

.class_2 {
	background-color: #FF00FF;
}

.class_3 {
	background-color: #33CC33;
}

.class_4 {
	background-color: #CC0000;
}

.class_5 {
	background-color: #006699;
}

.class_6 {
	background-color: #CC9900;
}

.class_7 {
	background-color: #3333FF;
}

.class_8 {
	background-color: #99CC00;
}