div.editor-toolbar > .toolbar-buttons {
	padding-right: 15px;
}

.glyphicon:empty {
	width: 2em;
}

/**.fa-eye  {
	position: absolute;
	right: 10px;
}

.fa-mail-forward {
	position: absolute;
	right: 45px;
}

.fa-save {
	position: absolute;
	right: 80px;
}**/

i.separator {
	display: inline-block;
	width: 0;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid white;
	color: transparent;
	text-indent: -10px;
	/**margin: 6px 6px;**/
}


.editor-wrapper input.title {
	font: 18px "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
	background: transparent;
	padding: 4px;
	width: 100%;
	border: none;
	outline: none;
	opacity: 0.6;
}

textarea.editor {
	display: inherit;
	height: 300px;
	width: auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	resize: none;
	border-top-style: hidden;
	border-color: #bdc3c7;
}

div.editor-preview {
	/**display: inherit;**/
	height: 300px;
	width: auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	resize: none;
	border-top-style: hidden;
	border-top-width: 0px;
	border-color: #bdc3c7;
	border-width: 1px;
	border-style: solid;;
}

.editor-toolbar {
	position: relative;
	display: block;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
	/**line-height: 40px;**/
	background-color: #F0F0F0;
	/**margin: 2px;**/
	border-top: solid;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bdc3c7;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bdc3c7;
}

.editor-toolbar:before .editor-toolbar:after{
	display: block;
	height: 1px;
	background-color: #F0F0F0;
}

.editor-toolbar:before {
	/**margin-bottom: 8px;**/
}

.editor-toolbar:after {
	/**margin-top: 8px;**/
}

