.icon-cog1 {
    color: black;
}

/**
A:hover {
 COLOR: green /*The color of the mouseover or 'hover' link*/
/**}**/

.centered {
    margin: 0 auto;
}


.qoll-text {
	width: 83%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/**div.container
{
    background-color:#aaa;
}**/
div.add-qoll-bkgrnd, div.add-qoll-chart-bkgrnd {
    background-color:#eee;
    border: 0px solid #888;
    border-radius:3px;
}

.center1 {
    text-align: center;
}

.pclass {
	color: orange;
    font-family: arial;
	text-align: center;
}

#para1 {
    color: blue;
    text-align: center;
}

hr.sienna {
    color: sienna;
}

/** START: All p style styles-here **/

p.center {
    text-align: center;
}

p.pull-left {
    margin-left: 200px;
}

p.newStyleClassP {
    font-family: Verdana, Arial, Helvetica, , sans-serif;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

.newStyleClass {
    font-family: Verdana, Arial, Helvetica, , sans-serif;
    font-weight: bold;
    color: red;
    text-decoration: underline;
    font-size: 12pt;
}

/** END: All p style styles-here **/

/** START: global style class for h1 **/
.newGlobalClass-h1 {
    font-family: Garamond, 'Times New Roman', sans-serif;
    font-size: 200%
}
/** END: global style class for h1 **/

/** START: style class for div **/
div.divClass1 {
    background: rgb(204, 204, 255);
    padding: 0.5em;
    border: 1px solid #000000;
}
/** END: style class for h1 **/


/** START: style class for a 
a.aClass1:link {
    color: rgb(0, 0, 153);
}

a.aClass1:visited {
    color: rgb(153, 0, 153);
}

a.aClass1:hover {
    color: rgb(0, 96, 255);
}

a.aClass1:active {
    color: rgb(255, 0, 102);
}
/** START: style class for div **/

/**body {
    background-image: '/img/icon3.png';
    background-color: #E4DADA;
    margin-left: 5%;
    margin-right: 5%;
}

h3.class1 {
    color: red;
    text-align: left;
    font-size: 8pt;
}

h3.class2 {
    text-align: right;
    font-size: 20pt;
}
**/

body {
    color: #000305;
    /*font-size: 100%;Base font size is 14px*/
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
}

.body {
    margin: 0 auto;
    width: 80%;
    clear: both;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    /**/
}

a:hover, a:active {
    /**/
}


.is-visible {
    visibility: visible;
    display: none;
}

.is-invisible {
    visibility: hidden;
    display: none;
}

#forgot-password-link {
    display: none;
}


textarea.editor-upen {
    display: inherit;
    height: 150px;
    width: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    resize: none;
    border-color: #bdc3c7;
}

div.div-qoll-types {
    width: 50%;
}

div.panel-qoll-type-list {
    width: 50%;
}

div.qoll-type-panel {
    width: 100%;
}
.qoll-type-panel:nth-child(odd) {background: #FAF6E8;}

input.qoll-title {
    width: 100%;
    /**color: #FFFFFF !important;**/
    background-color: #FFFFCC !important;

}

input.qoll-type-option {
    /**background-color: rgb(255, 255, 255);**/
    background-image: none;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: auto;
    display: inline-block;
    font-family: Arial, 'Lucida Sans Unicode';
    font-size: 14px;
    height: 34px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    vertical-align: middle;
    width: 100%;
    word-spacing: 0px;
}

span.input-group-addon:hover {
    background-color: #606060;
    color: white;
}


.qoll-toolbar {
    position: relative;
    display: block;
    padding-left: 10px;
    /**line-height: 40px;**/
    background-color: #F0F0F0;
    /**margin: 2px;**/
    border-top: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #bdc3c7;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bdc3c7;
}
