<template name='nav_cordova'>
	<!-- nav>
		<a href="/html/">HTML</a> |
		<a href="/css/">CSS</a> |
		<a href="/js/">JavaScript</a> |
		<a href="/jquery/">jQuery</a> |
		<a id="signout" href="#">Signout</a>
	</nav -->

	<div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-2"><p class="mobile-nav-qoll" style="background-color: #bcbd22;">Home</p></div>
            <div class="col-md-4 col-sm-4 col-xs-2"><a href="/inbox_cordova"><p class="mobile-nav-qoll" style="background-color: #d62728; color: black;">Qoll</p></a></div>
		</div>
		<div class="row">
            <div class="col-md-4 col-sm-4 col-xs-2"><p class="mobile-nav-qoll" style="background-color: #1f77b4;">Group</p></div>
            <div class="clearfix visible-md-block"></div>
            <div class="col-md-4 col-sm-4 col-xs-2"><p class="mobile-nav-qoll" style="background-color: #98df8a;">Account</p></div>
		</div>
		<div class="row">
            <div class="col-md-4 col-sm-4 col-xs-2"><p class="mobile-nav-qoll" id="signout" style="background-color: #7f7f7f;">Logout</p></div>
            <div class="clearfix visible-md-block"></div>
        </div>
</div>

    <!-- div class="container">
	    <div class="row">
	        <div class="col-sm-6 col-md-4"><p class="mobile-nav-qoll">col-sm-6 col-md-4</p></div>
	        <div class="col-sm-6 col-md-4"><span class="mobile-nav-qoll">col-sm-6 col-md-4</span></div>
	        <div class="col-sm-6 col-md-4">col-sm-6 col-md-4</div>
	    </div>
	</div-->
</template>