<template name="view_sent">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		{{> qoll_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="content-header">
	            <h1>
	            	<!-- Toggle on small screen -->
	                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
	                Sent
	            </h1>
	        </div>
			
			<hr class='divider divider-bottom-0'>
			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset inset-5">
				<div class="row">
	            	
					<div class="col-md-12 col-xs-12 list-group-item list-group-item-heading" >

						
						<div class="col-md-1 col-xs-12">
							<!--input type="checkbox" class="qoll_selectall"/-->&nbsp;
						</div>
						<div class="col-md-5 col-xs-12">
							<input type="text" class="filter-by-tag form-control" placeholder="Filter by typing tags ..." default="Qollstionnaire title" >
						</div>
						<div class="col-md-1 col-xs-12">
							Size
						</div>
						<div class="col-md-1 col-xs-12">
							Rate
						</div>
						<div class='col-md-2 col-xs-12'>Closed On</div>
						<div class="col-md-2 col-xs-12">
							&nbsp;
						</div>
					</div><!-- list-group-item list-group-item-heading -->
					{{#each qolls}}
				<!-- Start of Qoll Section -->
				<div class="col-md-12 col-xs-12 list-group-item list-group-item-success {{length_class}}" id='qdiv_{{_id}}'>

					
					<div class="col-md-1 col-xs-12">
						<input type="checkbox" class="qoll_selection" id="{{_id}}"/>
					</div>
					<div class="col-md-5 col-xs-12 make-clickable">
						<a href="{{ pathFor 'sentView'}}" class='black-link'>
							{{{title}}}
						</a>
					</div>
					<div class="col-md-1 col-xs-12">
						{{qoll_count}}
					</div>
					<div class="col-md-1 col-xs-12">
						{{respo_length}} / {{recips_count}}
					</div>
					<div class="col-md-2 col-xs-12">
						{{{closed_on this}}}
					</div>
					<div class="col-md-2 col-xs-12">
						<span class="fa-stack fa-md sendemail btn-primary glossy" title="Resend the questionnaire">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-envelope-o fa-stack-1x"></i>
						</span>&nbsp;&nbsp;&nbsp;
						<span class="copy-link glossy" title="Copy the embeddable link" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="glyphicon glyphicon-link blue ios-enabled"></i></span>&nbsp;&nbsp;&nbsp;
						<span class="archive-qoll-btn glossy" title="Archive the questionnaire"><i class="glyphicon glyphicon-trash red ios-enabled"></i></span>
						
						<!-- span class="pull-left lock-qoll-btn glossy"><i class="glyphicon glyphicon-off orange lock-btn ios-enabled"></i></span -->
					</div>
				</div><!-- list-group-item list-group-item-success -->
				<!-- End of Qoll Section here -->
				{{/each}}
				</div><!-- /row-->
			</div>
		</div>
	</div>
</template>