<template name="view_sent_board">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		{{> qoll_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="content-header">
	            <h1>
	            	<!-- Toggle on small screen -->
	                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
	                Sent Detail
	            </h1>
	        </div>
			
			<hr class='divider divider-bottom-0'>
			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset inset-5">

				<div class="row">
					<div class="col-md-12 col-xs-12 list-group-item list-group-item-heading" >
						
						<div class="col-md-1 col-xs-12 list-group-item-align">
							<a href="{{ pathFor 'view_sent' }}" class='white-link make-clickable'>&larr; back</a>
						</div>
						<div class="col-md-5 col-xs-12 list-group-item-align">
							Title: {{questionaire.title}} ({{questionaire.qoll_count}})
						</div>
						<div class='col-md-3 col-xs-0 list-group-item-align'>&nbsp;</div>
						<div class="col-md-2 col-xs-12 list-group-item-align">
							Completion Rate &rarr; {{questionaire.respo_length}}/{{questionaire.recip_length}}
						</div>
						<div class="col-md-1 col-xs-12 list-group-item-align">
							&nbsp;
						</div>
					</div><!-- list-group-item list-group-item-heading -->
				</div><!-- /row-->
			<!--	<h4>Stats:- </h4>
				{{> stats_table}}
			-->
			<div class="row">
				<div class="col-md-12 col-xs-12" >

					{{#if is_quicker questionaire.category}}
						{{> pieDistribution}}
					{{/if}}

					{{#if is_not_quicker questionaire.category}}
						{{> columnDistribution}}
					{{/if}}

				</div>

			</div>

				{{> qolls_inner qollList = this.qollList  btns= sent_board_btns }}

				{{> view_sent_board_results stats = qoll_list.stats }}
			</div>
		</div>
	</div>
</template>

<template name="view_sent_board_results">
	{{#each stats}}
		<h2 class="respondent-bg">{{this.name}}</h2>

		{{#each this.responses}}
			<div class="row respondent-row-style">
    			<div class="col-md-1 col-xs-12">
    				<button class="button button-small respondent-bg" 
    				data-title="{{this.title}}" 
    				data-questionaire_id="{{questId}}"
    				data-qid="{{this.qoll_id}}"
    				data-responder_id="{{this.email}}"
    				data-data1="{{this}}">
    					{{this.label}}
    				</button>
    			</div>
    			<div class="col-md-8 col-xs-12"><p>{{this.title}}</p></div>
    			<div class="col-md-2 col-xs-12">
        			<h2>{{this.response}}</h2>
				</div>
				<div class="col-md-1 col-xs-12">{{{this.iscorrect}}}</div>
			</div>
		{{/each}}
	{{/each}}
</template>


<template name="stats_table">
	<table id="example" class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
	            {{#each questionaire.stats_labels }}
	            	<th>{{label}}</th>
	            {{/each}}
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                {{#each questionaire.stats_labels }}
	            	<th>{{label}}</th>
	            {{/each}}
            </tr>
        </tfoot>
 
        <tbody>
        	{{#each questionaire.stats }}
				<tr>
	                <td>{{name}}</td>
	                {{#each responses}}
	                	<td>
	                		{{response}}
	                		{{#if unit_selected}},<span class='green_1'><u>Unit:</u> {{unit_selected}}</span>{{/if}}
	                		{{#if usedHint}},<span class='red_1'>Hint</span>{{/if}}
	                	</td>
	                {{/each}}
	            </tr>
			{{/each}}
        </tbody>
    </table>
</template>
