<template name="my_social">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> social_side_nav}} -->
	{{> all_side_nav}}

	<div id="page-content-wrapper">
		<div class="container-fluid container">

			<!-- Page content -->
			<!-- div class="page-content" -->
				<!-- Keep all page content within the page-content inset div! -->
				<div class="row">
					<div class="col-md-12 col-xs-12 list-group-item">
						<h3>Google, Facebook, or Twitter Contacts</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12">
	            	{{> list_card_long contacts=friends btn_ctx='my_social' }}
					</div><!-- /column-->
				</div><!-- /row-->

				{{> slide_up_group}}
			<!-- /div -->
		</div>
	</div>
</div>
</template>