<template name="header_auth">
	<header>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="navbar-brand" href="index.html"><span id="Q">Q</span><span id="o">o</span><span id="ll">ll</span></a>
          <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term"
                id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-xs" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div>
            <li class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Logout</a>
                </li>
                <li class="divider">
                </li>
                <li>
                  <a href="#">Settings</a>
                </li>
              </ul>
              <ul class="nav navbar-nav pull-right">
                {{loginButtons align="right"}}

              </ul>
            </li>
          </div>
        </div>
      </div>
    </header>
</template>