<template name="header_awesome">
   <div class="navbar navbar-inverse navbar-fixed-top dsb" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbrand">
            <img src="/img/QollBrand.png">
          </div>  
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="mob-only" class="qoll-login auth-buttons">{{> loginButtons align="right"}}</li>
            <li><a href="/"><span class="glyphicon glyphicon-home"> {{i18n "Home"}}</span></a></li>
            {{#if currentUser}}
            <li><a href="/inbox"><span class="fa fa-cloud"> {{i18n "QBank"}} </span></a></li>
            <li><a href="/dashboard"><span class="glyphicon glyphicon-list"> {{i18n "QBox"}}</span></a></li>
            <li><a href="/editor"><span class="glyphicon glyphicon-send"> {{i18n "Create Qoll"}}</span></a></li>
            <!-- li><a href="/view_my_groups"><span class="glyphicon glyphicon-stats"> {{i18n "Performance"}}</span></a></li-->
            <li><a href="/newgroup"><span class="fa fa-users"> {{i18n "Create Group"}} </span></a></li>
            <li><a href="{{my_profile}}"><span class="glyphicon glyphicon-edit"> {{i18n "My Profile"}} </span></a></li>
            {{/if}}
             {{> contextbtns}}
            {{#if currentUser.profile.admin}}
            <li class=""><a href="/admin"><i class="fa fa-cogs"></i> {{i18n "Admin"}}</a></li>
            {{/if}}
          </ul>        
          <ul class="nav navbar-nav navbar-right qoll-login">
              <li id="desk-only" class="qoll-login auth-buttons">{{> loginButtons align="right"}}</li>
           </ul>
        </div>
      </div>
    <!--/div-->
  </div>
<!-- /nav -->
{{> qoll_error}}
</template>
