<template name="landing_page">
  <div id="page">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="navbrand">
            <img src="/img/QollBrand.png"/>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!--li id="mob-only" class="qoll-login auth-buttons">{{> loginButtons align="right"}}</li-->
            {{#if currentUser}}
              <li><a target="_self" onclick="window.location.href='/dashboard'">
                <span class="btn btn-danger btn-sm btn-qoll dsb" role="button"> {{i18n "Qollboard"}}</span>
              </a>
            </li>
            {{/if}}
            <li class="active"><a href="#main">{{i18n "Home"}}</a></li>
            <li><a href="#about">{{i18n "Concept"}}</a></li>
            <li><a href="#services">{{i18n "Explore"}}</a></li>
            <li><a href="#blog">{{i18n "FAQ"}}</a></li>
            <li><a href="#contact">{{i18n "Contact"}}</a></li>
            <li id="desk-only" class="qoll-login auth-buttons">{{> loginButtons align="right"}}</li>
          </ul>
        </div>
      </div>
  </div>


    <main id="main" class="site-main">
      <!-- Carousel -->
      <div id="carousel-ecap" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators wow fadeInUp">
          <li data-target="#carousel-ecap" data-slide-to="0" class=""></li>
          <li data-target="#carousel-ecap" data-slide-to="1" class=""></li>
          <li data-target="#carousel-ecap" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="wow pulse" data-wow-duration="3s" src="img/bg-1.jpg" alt="bg-1">
            <div class="carousel-caption">
              <h3 class="wow bounceInLeft" data-wow-duration="2s">On the knowledge Superhighway</h3>
              <!--span class="wow bounceInRight" data-wow-duration="2s">Discover together</span-->
            </div>
          </div>
          <div class="item">
            <img class="wow pulse" data-wow-duration="3s" src="img/bg-2.jpg" alt="bg-2">
            <div class="carousel-caption">
              <h3 class="wow bounceInLeft" data-wow-duration="2s">Discover together</h3>
              <!--span class="wow bounceInRight" data-wow-duration="2s">For those with a need for speed</span-->
            </div>
          </div>

          <div class="item">
            <img class="wow pulse" data-wow-duration="3s" src="img/bg-3.jpg" alt="bg-3">
            <div class="carousel-caption">
              <h3 class="wow bounceInLeft" data-wow-duration="2s">Qoll</h3>
              <!--span class="wow bounceInRight" data-wow-duration="2s">Knowledge resides amongst us. Let's begin to explore within.</span-->
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-ecap" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-ecap" data-slide="next">
        <span class="fa fa-chevron-right"></span>
        </a>
      </div>
      <!-- ABOUT -->
      <section id="about">
        <a name="about"></a>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            <br><br>
              <h3>Concept</h3>
            </div>
            <div class="col-md-6 col-sm-6 wow bounceInLeft">
              <p>Questions are at the heart of our learning, discovery, and decision making process. We reduce uncertainty and biases in our decision making by selecting and confirming our beliefs through questions. </p>
              <br>
              <p>Timely tiny packets of information can make a sea-change in people's lives and make the world around us a better place. Each of us knows a little something that will help others make better decisions. You do not need to be an expert to be able to make such an enormous and positive impact. Simply by answering a few questions based on readily available information you can make possible a vast and rich ecosystem of information.</p>
            </div>
            <div class="col-md-6 col-sm-6 wow bounceInRight">
              <p>Information that when presented in a timely manner and an appropriate format can improve human condition, save and enrich lives, and make a better informed world. Once you are a part of this information ecosystem, you will be a driver of continuously improving lives on this planet.</p>
              <br>
              <p>Individuals are our observers and transmitters of information that Qoll aggregates in simple bits of discovery to sate your curiosity with knowledge that is pure, fresh, and immediate. </p>
              <br><br><br><br>
            </div>
            
          </div>
        </div>
      </section>
      <!-- SERVICES -->
      <section id="services">
        <a name="services"></a>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>Explore Possibilties</h3>
            </div>
            <div class="col-md-4 col-sm-4 wow bounceInLeft">
              <p><span><i class="fa fa-user"></i></span></p>
              <h4>Social </h4>
              <p>Build your information network using Qoll. Using this network you can turn every tip of tongue to a tip of tap! Use Qoll to achieve quick and transparent group decisions or simply ask a question and get popular opinion on it.</p>
            </div>
            <div class="col-md-4 col-sm-4 wow bounceInUp">
              <p><span><i class="fa fa-pencil-square-o"></i></span></p>
              <h4>Education</h4>
              <p>Engage with your students during the class or otherwise and gauge their understanding of the subject material. You can help them build their understanding one questions at a time with instantaneous results.</p>
            </div>
            <div class="col-md-4 col-sm-4 wow bounceInRight">
              <p><span><i class="fa fa-sitemap"></i></span></p>
              <h4>Business</h4>
              <p>Involve your customers in the decisions that are important to them. Gauge their interest in a product and assess demand through short surveys, or simply reach out to them and build a stronger bond. </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Posts -->
      <section id="blog">
        <a name="blog"></a>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>FAQ</h3>
            </div>
            <div class="col-md-6 col-sm-6 wow bounceInLeft">
               <ul>
                <li>
                  <h5><p>Q: How do I get started</p></h5>
                  <h5><p>A: Create <strong>username</strong> by using <em>Sign In</em>  section from the menu. Exchange your <strong>username</strong> with your co-qollers.</p></h5>
                </li>
                <li>
                  <h5><p>Q: What is a qoll</p></h5>
                  <h5><p>A: Qoll is a question with a set of possible answers.</p></h5>
                </li>
                <li>
                  <h5><p>Q: How do I create a Qoll</p></h5>
                  <h5><p>A: Go to your Dashboard and hit the <em>Create Qoll</em> link from the menu. Then start creating Qoll(s) on the page or checkout <em>help!</em> for more information. </p></h5>
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 wow bounceInRight">
              <ul>
                <li>
                  <h5><p>Q: How do I send a Qoll</p></h5>
                  <h5><p>A: You can create a Qoll and add  <strong>usernames</strong>  of the recipients in the <em>Send To</em> section. You can either send this Qoll immediately or store it for future use. The Qoll will appear in your <em>QBox</em>.</p></h5>
                </li>
                <li>
                  <h5><p>Q: What is a group</p></h5>
                  <h5><p>A: <em>Create Group</em> link on Qoll-Board allows you to create a list of recipients you plan to send Qolls regularly. </p></h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <a name="contact"></a>        
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>Contact</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8 wow bounceInRight">
              <form role="form" class="frm" method="post" action="#">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Name">Name *</label>
                    <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Email">Email *</label>
                    <input type="email" class="form-control" Name="Email" id="Email" placeholder="Enter email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Message">Messages *</label>
                    <textarea name="Message" id="Message" class="form-control" rows="3" placeholder="Enter messages"></textarea>
                  </div>
                  <input type="submit" name="submit" value="Send Message" class="btn btn-primary btn-lg btn-block btn-biru send-msg" />                    
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      &copy;2014 Millennials Venture Labs <br>
    </footer>
  </div>
  <!-- Scroll to top -->
  <div class="scroll-to-top affix" data-spy="affix" data-offset-top="200"><a href="#" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>
  <!-- modal -->
  <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-portfolio">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>       
        <div class="modal-body">
          <!--  -->   
          <div id="carousel-egen" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-egen" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-egen" data-slide-to="1"></li>
              <li data-target="#carousel-egen" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item">
                <img src="images/portfolio.jpg" alt="Portfolio1"> 
              </div>
              <div class="item">
                <img src="images/portfolio2.jpg" alt="Portfolio2"> 
              </div>
              <div class="item active">
                <img src="images/portfolio3.jpg" alt="Portfolio3"> 
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-egen" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-egen" data-slide="next">
            <span class="fa fa-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
