<template name="list_card_long">
	{{#each contacts}}

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 list-group-item">
			<div class="row">
				<div class='col-md-5 col-sm-5 col-xs-5'>
					<div class="entityblock profile profile-pic-long-list">
						<!-- img src="/img/ghost_avatar.png" alt="Ghost Avatar" class="avatar-image" -->
						<img src="{{gravtar email}}" alt="Ghost Avatar" class="avatar-image">
					</div>
					<div class="profile-content-1">
						{{name}}
					</div>
				</div>
				<div class='col-md-5 col-sm-5 col-xs-5'>
					<div class="profile-content-1">
						{{email}}
					</div>
				</div>
				<!-- div class='col-md-3 list-enclosure'>
					&nbsp;
				</div -->
				<div class='col-md-2 col-sm-2 col-xs-2' >
					{{> sel_button contact=this}}
				</div>
			</div>
		</div>
	</div>


	{{/each}}
</template>

<template name="list_card_long1">
	{{#each contacts}}
	<div class="row list-enclosure">
		<div class='col-md-5 col-sm-5 col-xs-5'>
			<div class="entityblock profile profile-pic-long-list">
				<img src="/img/ghost_avatar.png" alt="Ghost Avatar" class="avatar-image">
			</div>
			<div class="profile-content-1">
				{{name}}
			</div>
		</div>
		<div class='col-md-5 col-sm-5 col-xs-5'>
			<div class="profile-content-1">
				{{email}}
			</div>
		</div>
		<!-- div class='col-md-3 list-enclosure'>
			&nbsp;
		</div -->
		<div class='col-md-2 col-sm-2 col-xs-2' >
			{{> sel_button contact=this}}
		</div>
	</div>
	{{/each}}
</template>

<!-- Container to print all the contacts on the social circle page -->
<template name="list_card">
	<div class="group-contact-container">
		<div class="viewers-container round-buttons">
			<ul class="viewers-list card-view">
				{{#each contacts}}
				<li class="group-strip">
					<div class="group-strip-wrapper">
						<div class="entityblock profile profile-pic-long">
							<!--{{#if this.photoUrl}}
							<img src="{{photoUrl}}" alt="Ghost Avatar" class="avatar-image">
							{{else}}-->
							<img src="/img/ghost_avatar.png" alt="Ghost Avatar" class="avatar-image">
							<!--{{/if}}-->
						</div>
						<div class="profile-snapshot-long-1">
							<br><h6 class='profile-name'><p>
							{{#if is_google this}}<i class="fa fa-google fa-sm q-highlite"></i>{{/if}}
							{{#if is_qoll this}}<i class="qoll-brand-style q-highlite">Q</i>{{/if}}
							&nbsp;{{name}}</p></h6>
							<p>&nbsp;Org: {{organization}}</p>
							<p>&nbsp;Type: {{type}}</p>
						</div>
						<div class="profile-snapshot-long-2">
							<!-- p>&nbsp;</p -->
							<br><p>&nbsp;Email: {{email}}</p>
						</div>
						<div class="group-action-container">
							{{> sel_button contact=this}}
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="list_contact_card">
	<div class="group-contact-container">
		<div class="viewers-container round-buttons">
			<ul class="viewers-list card-view" id="contact-container-gen">
				{{#each contact_groups}}
				<li class="group-strip">
					{{> single_card}}
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="single_card">
	<div class="group-strip-wrapper">
		<div class="entityblock profile profile-pic">
			<img src="/img/ghost_avatar.png" alt="Ghost Avatar" class="avatar-image">
		</div>
		<div class="profile-snapshot">
			<br><p>&nbsp;{{name}}</p>
			<br><p>&nbsp;Status: {{status}}</p>
			<p>&nbsp;Org: {{organization}}</p>
			<p>&nbsp;Type: {{type}}</p>
			<p>&nbsp;Members: {{mem_count}}</p>
		</div>
		<div class="group-action-container">
			<a href="#" class="search" title="Edit group" aria-role="button"><span aria-hidden="true" class="glyphicon glyphicon-link red"></span></a>
		</div>
	</div>
</template>

<template name="contact_card1">
	<div class="group-contact-container">
		<div class="viewers-container round-buttons">
			<ul class="viewers-list card-view" id="contact-container-gen">
				{{#each contact_groups}}
				<li class="group-strip">
					<div class="group-strip-wrapper">
						<div class="entityblock profile profile-pic">
							<img src="/img/ghost_avatar.png" alt="Ghost Avatar" class="avatar-image">
						</div>
						<div class="profile-snapshot">
							<br><p>&nbsp;{{name}}</p>
							<br><p>&nbsp;Status: {{status}}</p>
							<p>&nbsp;Org: {{organization}}</p>
							<p>&nbsp;Type: {{type}}</p>
							<p>&nbsp;Members: {{mem_count}}</p>
						</div>
						<div class="group-action-container">
							<a href="#" class="search" title="Edit group" aria-role="button"><span aria-hidden="true" class="glyphicon glyphicon-link red"></span></a>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>