<template name="social_side_nav">
	<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand newgroup"><a href="#" class="round-button round-margin">G+</a>
            </li>
            <li id='groups'><a href="/mygroups">Groups</a>
            </li>
            <li id='members'><a href="/members">Connects</a>
            </li>
            <li id='social'><a href="/mysocial">Social</a>
            </li>
            <!-- li id='newgroup'><a href="#" class="round-button">G+</a></li -->
            <!-- li id='newgroup'><a href="#">New<span class='red_1'>+</span></a>
            </li -->
        </ul>
    </div>
</template>