<template name="qoll_side_nav">
	<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="sidebar-nav-top-margin"></div>
        <div style="color: aliceblue; background-color: black;">Qoll Mgmt</div>
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#"></a>
            </li>
            <li id='inbox'><a href="/inbox">Inbox</a>
            </li>
            <li id='sent'><a href="/sent">Sent</a>
            </li>
            <li id='draft'><a href="/draft">Draft</a>
            </li>
            <li id='qollshop'><a href="/all_qolls">Qolls</a>
            </li>
        </ul>
        <div style="color: aliceblue; background-color: black;">Groups Mgmt</div>
        <ul class="sidebar-nav sidebar-nav-group" style="position: relative;">
            <!--li class="sidebar-brand newgroup"><a href="#" class="round-button round-margin">G+</a>
            </li-->
            <li id='groups'><a href="/mygroups">Groups</a>
            </li>
            <li id='members'><a href="/members">Connects</a>
            </li>
            <li id='social'><a href="/mysocial">Social</a>
            </li>
            <!-- li id='newgroup'><a href="#" class="round-button">G+</a></li -->
            <!-- li id='newgroup'><a href="#">New<span class='red_1'>+</span></a>
            </li -->
        </ul>
        <div style="color: aliceblue; background-color: black;">Results</div>
        <ul class="sidebar-nav sidebar-nav-group" style="position: relative;">
            <li id='social'><a href="/mysocial">Results</a>
            </li>
        </ul>
    </div>
</template>