<template name="quicker">
    {{> header_awesome page_label="QUICKER"}}

    <div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> qoll_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
		<div class="container-fluid">

			<p class="lead">
			<div class="container" id="qoll-container-id">

			  <!-- Starting of the row for all qolls -->
			  {{> qolls_inner qollList = this.qollList  btns= inbox_board_btns }}

			</div>
			</p>

			</div>
		</div>
	</div> 
</template>


<template name="contextbtns_quicker">
	            {{#if if_inbox}}
            	<li><button type="button" class="btn btn-link information-toggle"><span class="glyphicon glyphicon-volume-up information-toggle-txt">{{info_pref}}</span></button></li>
            {{/if}}
	
</template>