<template name="layout1">
  <div class="page-container">
    <div class="container">
      <h1>Welcome to pages</h1>

      <div class="page">
	
      </div>

    </div>
  </div>
l</template>

<template name="postIndex">
  <table class="table">
    <thead>
      <th>Title</th>
      <th></th>
    </thead>
    <tbody>
      Anoop Kaushik
    </tbody>
  </table>
</template>

<template name="postRow">
  <tr>
    <td>Priyanka Sharma</td>
  </tr>
</template>

<template name="postShow">
  <h2>showing some title and all</h2>
</template>
