<template name="all_side_nav">
	<!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="sidebar-nav-top-margin"></div>
        <div style="color: aliceblue; background-color: black;">Qoll Mgmt</div>
        <ul class="sidebar-nav">
            <!-- li class="sidebar-brand"><a href="#"></a>
            </li -->
            <li class="sidebar-brand newgroup"><a href="/qolleditor" class="round-button round-margin">Q+</a>
            </li>
            <!-- li><a href="/qolleditor"><span class="glyphicon glyphicon-send">Create Qoll</span></a></li -->
            <li style="background-color: #164219; color: white;" id='quicker'><a href="/quicker">Quicker</a>
            </li>
            <li id='inbox'><a href="/inbox">Inbox</a>
            </li>
            <li id='sent'><a href="/sent">Sent</a>
            </li>
            <li id='draft'><a href="/draft">Draft</a>
            </li>
            <li id='qollshop'><a href="/all_qolls_folder">Qolls</a>
            </li>
        </ul>
        <div style="color: aliceblue; background-color: black;">Groups Mgmt</div>
        <ul class="sidebar-nav sidebar-nav-group" style="position: relative;">
            <!--li class="sidebar-brand newgroup"><a href="#" class="round-button round-margin">G+</a>
            </li-->
            <li id='groups'><a href="/mygroups">Groups</a>
            </li>
            <!-- li id='members'><a href="/members">Connects</a>
            </li>
            <li id='social'><a href="/mysocial">Social</a>
            </li -->
        </ul>
    </div>
</template>