<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
  <title>Qoll - Discovery in Motion</title>
  <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/img/2 web2.png">
    <!-- This is dirty trick till someone fixes the ckeditor load by meteor only when required -->
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/adapters/jquery.js"></script>
    <!-- script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script type="text/x-mathjax-config">
     
      MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" } }
      });
    </script -->

    <!-- script type="text/javascript">
    (function () {
      window.MathJax = {
        showProcessingMessages: false,
        messageStyle: "none",
        tex2jax: {
          inlineMath: [['$', '$'], ["\\(", "\\)"]],
          processEscapes: true
        },
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } },
        MathMenu: {
        styles: {
          ".MathJax_Menu": {"z-index":2001}
        }
        },
        AuthorInit: function () {
          MathJax.Hub.Register.StartupHook("MathMenu Ready",function () {MathJax.Menu.BGSTYLE["z-index"] = 2000;});
        }
      }
    })();
    </script -->

    <!-- script type="text/x-mathjax-config">
    QJax = function () {

      MathJax.Hub.Config({
        showProcessingMessages: false,
        messageStyle: "none",
        tex2jax: {
          inlineMath: [['$', '$'], ["\\(", "\\)"]],
          processEscapes: true
        },
        CommonHTML: { linebreaks: { automatic: true } },
        "HTML-CSS": { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } },
        MathMenu: {
        styles: {
          ".MathJax_Menu": {"z-index":2001}
        }
        },
        AuthorInit: function () {
          MathJax.Hub.Register.StartupHook("MathMenu Ready",function () {MathJax.Menu.BGSTYLE["z-index"] = 2000;});
        },
        //tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
        TeX: { equationNumbers: { autoNumber: "AMS" } },
        MMLorHTML: {
          prefer: { 
            MSIE: "SVG", //"MML", 
            Firefox: "SVG", //"HTML", 
            Safari: "SVG", //"HTML", 
            Chrome: "SVG", //"HTML", 
            Opera: "SVG", //"HTML", 
            other: "HTML" 
          }
        }
      });

      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

      IRLibLoader.load('http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full');
      IRLibLoader.load('http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full&delayStartupUntil=onload');


    };
    QJax();
    </script -->

    <!-- script src="https://beta.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full"></script -->
</head>