<template name="qjax">
	<div id="dumb">
		<script>
		    QJax = function () {

		    	// alert('Loading the mathjax expressions now ....');
		    if(typeof MathJax === 'object') {
		      MathJax.Hub.Config({
		        showProcessingMessages: false,
		        messageStyle: "none",
		        tex2jax: {
		          inlineMath: [['$', '$'], ["\\(", "\\)"]],
		          processEscapes: true
		        },
		        //TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js","mhchem.js","color.js","cancel.js", "default.js"]},
		        TeX: {extensions: ["mhchem.js","color.js","cancel.js","AMSmath.js","AMSsymbols.js","autobold.js","noErrors.js","noUndefined.js","default.js"]},

		        CommonHTML: { linebreaks: { automatic: true } },
		        "HTML-CSS": { linebreaks: { automatic: true } },
		        SVG: { linebreaks: { automatic: true } },
		        MathMenu: {
		        styles: {
		          ".MathJax_Menu": {"z-index":2001}
		        }
		        },
		        AuthorInit: function () {
		          MathJax.Hub.Register.StartupHook("MathMenu Ready",function () {MathJax.Menu.BGSTYLE["z-index"] = 2000;});
		        },
		        //tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
		        TeX: { equationNumbers: { autoNumber: "AMS" } },
		        MMLorHTML: {
		          prefer: { 
		            MSIE: "SVG", //"MML", 
		            Firefox: "SVG", //"HTML", 
		            Safari: "SVG", //"HTML", 
		            Chrome: "SVG", //"HTML", 
		            Opera: "SVG", //"HTML", 
		            other: "HTML" 
		          }
		        }
		      });

			  MathJax.Hub.Configured();

		      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

		      //IRLibLoader.load('http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full');
		      //IRLibLoader.load('http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full&delayStartupUntil=onload');

		    }}

		    //QJax(); 
	    </script>
	    <script> 
	    	//aceEditor
	    	document.addEventListener('DOMNodeInserted', function () {
			   if(typeof MathJax === 'object') {
			   	QJax();
			   }
			});
	    </script>
	    <script type="text/x-mathjax-config">
	    	//QJax();
	    </script>
	    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full/"></script>
	    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full&delayStartupUntil=onload/"></script>
	</div>
</template>