<template name="banner_discovery">
	<div class="jumbotron">
      <div class="container">
        <h1>
          <span id="motto">Don't assume, discover in Real time.</span>
        </h1>
        <p id="intro">
          <span id="intro_line1">You can search content.</span>
          <br>
          <span id="intro_line2">You can connect to people and groups you care about.</span>
          <br>
          <span id="intro_line3">Now comes the next stage of social media and search!</span>
          <br>
        </p>
      </div>
    </div>
</template>