  
<template name="brand_name">
    <div class="container brand_name">
      <div id="page-header">
        <h1>
          <div id="motto">
            <!-- ul class="nav navbar-nav pull-right">
              <li>{{loginButtons align="right"}}</li>
            </ul -->
            <p>
              Don't roll a dice when you can make an intelligent choice
            </p>
            <p>with</p>
            <div id="qoll">
              <img src="/img/QollFullLogoEdit.png">
            </div>
              <!--p>
                Knowledge resides amongst us. Let's begin to explore within!
              </p-->
          </div>
        </h1>
      </div>
    </div>
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script -->
</template>