<template name="mock3">
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span id="Q">Q</span><span id="o">o</span><span id="ll">ll</span></a>
        </div>
       <!-- {{> header_banner}} -->
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action
    -->
    {{> banner_discovery}}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {{> intro_social}}
        {{> intro_professional}}
        {{> intro_explore}}
      </div>
      <hr>
      {{> footer}}
    </div>
    <!-- /container -->
</template>