<template name="qoll_content">
	<div id="tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li>
          <a href="#home" data-toggle="tab">Primary</a>
        </li>
        <li>
          <a href="#profile" data-toggle="tab">Social</a>
        </li>
        <!-- <li>
          <a href="#messages" data-toggle="tab">Professional</a>
        </li>
        <li>
          <a href="#settings" data-toggle="tab">Explore</a>
        </li> -->
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="Primary">
          <table class="table table-striped">
            <tbody>
              <tr class="success">
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
              <tr>
                <td>
                  cell
                </td>
                <td>
                  more
                </td>
                <td>
                  <a href="#">link</a>
                </td>
                <td>
                  more
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="Spcial">
          ...
        </div>
        <div class="tab-pane" id="Professional">
          ...
        </div>
        <div class="tab-pane" id="Explore">
          ...
        </div>
      </div>
    </div>
</template>