<template name="side_nav">
	<div>
	    <nav>
	      <ul>
	        <li>
	          <a href="mock1_qolls" title="Inbox" class="Inbox">
	            Inbox
	          </a>
	        </li>
	        <!-- li>
	          <a href="mock1_qolls" title="Sent Items" class="SentItems">
	            Sent Items
	          </a>
	        </li>
	        < li>
	          <a href="#nowhere" title="Starred">
	            Starred
	          </a>
	        </li>
	        <li>
	          <a href="#nowhere" title="Drafts">
	            Drafts
	          </a>
	        </li -->
	      </ul>
	    </nav>
	    <br>
	    <a href="mock1_addQoll" class="btn btn-default qoll-plus">Qoll+</a>
	    <br>
	    <br>
	    <a href="mock1_managecontacts" class="btn btn-default group-plus">Group+</a>
  	</div>
</template>