<template name="recipient">
	<div class="well well-sm">
		<div class="input-group input-group-sm">
   	
		   	<span class="input-group-btn">
		     	<button type="button" class="btn btn-primary qoll-width-1"  >Attributes &rarr; </button>
		    </span>
	    
			 <label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
			</label>

		</div><!-- /input-group --><br>

    	<div class="input-group input-group-sm">
   	
		   	<span class="input-group-btn">
		     	<button type="button" class="btn btn-primary qollQbankToggle qoll-width-1"  >Qoll To: <span class="caret"></span></button>
		    </span>
	    
			 <input type="text" class="recipient form-control" placeholder="Send To: Recipients seperated by comma ..." default="procrazium@gmail.com" id="recipient_search" data-intro="Start by creating a comma separated list of recipient group-names and/or emails. Group names support autocomplete." data-step="1">

		</div><!-- /input-group --><br>

		<div class="input-group input-group-sm">

			 <span class="input-group-btn">
		     	<button type="button" class="btn btn-info qoll-width-1"  >Add Tags:<sup class="red">*</sup></button>
		    </span>
	    
			 <input type="text" class="tags form-control" placeholder="Add Tags: Space separated tags ..." default="" id="tags" data-intro="Start by creating space separated tags fo searching later ..." data-step="1"></input>

		</div><!-- /input-group -->
	</div>
</template>