<template name="qolls">
    {{> header_awesome}}
<p class="lead">
<div class="container" id="qoll-container-id">
  <!-- Starting of the row for all qolls -->
{{> qolls_inner}}
  <!-- End of the row here -->
  <div id="navbrand"></div>
  {{#if nextPath}}
  <ul class="pager">
    <li><a class="load-more" href="{{nextPath}}">Load More &darr;</a></li>
  </ul>
  {{/if}}

</div>
</p> 
 {{> qollModalEditor}} 
</template>
<template name="qolls_inner">
    <!--div class="row" -->
    {{#each allQolls}}
    <!-- Start of Qoll Section -->
     		{{> single_qoll q= this  btns= ../btns}}
        {{> qoll_comments}}
    {{/each}}
  <!--/div-->
</template>
<template name="contextbtns">
	            {{#if if_inbox}}
            	<li><button type="button" class="btn btn-link information-toggle"><span class="glyphicon glyphicon-volume-up information-toggle-txt">{{info_pref}}</span></button></li>
            {{/if}}
	
</template>
