<template name="single_qoll">
	   <div class="col-md-12 col-xs-12 list-group-item qoll-seperator {{#if is_parent}} list-group-item-heading{{/if}} bg-qoll" id='{{_id}}'>

      <div class="col-md-10 col-xs-12">
        <h4>{{{get_title q.qollStarAttributes}}}</h4>
        {{#if q.is_parent}} 
            <a href="/qid/{{_id}}"><h5>{{#mathjax}}{{{get_qoll_txt q.qollText q.qollAttributes}}}{{/mathjax}}</h5></a>
        {{/if}}

        {{#unless is_parent}} 
            <h5>{{#mathjax}}{{{get_qoll_txt q.qollText q.qollAttributes}}}{{/mathjax}}</h5>
        {{/unless}}

        {{{get_units_html q.qollStarAttributes}}}
        {{{get_hint_html q.qollStarAttributes}}}
        <span class="saved-msg green"></span>
      </div>

      <div class="col-md-2 col-xs-12">

        {{#if if_createusr}}
        	<span class="pull-left badge lesstoggle">{{get_totals}}</span>
          {{#if if_stored}}
          <span class="pull-right send-qoll-btn glossy"><i class="glyphicon glyphicon-send blue ios-enabled"></i></span>
          {{/if}}
          {{#if if_send}}
            <span class="pull-right lock-qoll-btn glossy"><i class="glyphicon glyphicon-off orange lock-btn ios-enabled"></i></span>
          {{/if}}
          {{#if if_edit}}
            <!-- span class="pull-right glossy"><a href="qolleditor_adv_edit"><i class="glyphicon glyphicon-pencil blue ios-enabled"></i></a></span-->
          {{/if}} 
          {{#if if_lock}}
            <span class="pull-right resend-qoll-btn glossy"><i class="glyphicon glyphicon-refresh blue resend-btn ios-enabled"></i></span>
          {{/if}}          
          <span class="pull-right render-chart-btn glossy"><i class="glyphicon glyphicon-stats green ios-enabled"></i></span>
          {{#unless is_parent}} <span class="pull-right edit-qoll-btn glossy"><i class="glyphicon glyphicon-edit ios-enabled"></i></span>{{/unless}}
          <span class="pull-right archive-qoll-btn glossy"><i class="glyphicon glyphicon-trash red ios-enabled"></i></span>
        {{/if}}
        {{#unless if_createusr}}
        	<span class="badge pull-right sender-badge">{{sendingUser}}</span>
        {{/unless}}
      </div>
    </div>
    <!-- End of Qoll Section here -->
    
    <!-- Starting of qoll-types for the Qoll -->
    <div class="row">
      <div class="col-md-10 col-xs-12">
      {{#each q.qollTypes}}
     		{{> single_qoll_options qollType=this qoll=.. }}
      {{/each}}

      </div>
      {{#unless q.is_parent}}
      <div class="col-md-2 col-xs-12">
        
        <!--div class="col-md-12 col-xs-12"-->
          <canvas id="charts{{_id}}" width="100" height="100"></canvas>
          <div class="chartStats{{_id}} chartStats" id="chartStats{{_id}}"></div>
        <!--/div-->
      </div>
      {{/unless}}
    </div>
    <!-- End of qoll types here -->
 

</template>