<template name="single_qoll_options">
	      <div class="col-md-12 col-xs-12 list-group-item">
        <div class="col-md-10 col-xs-10 indent-littlebit" id="{{qollType.index}}">
          {{#if is_not_blank_type qoll.qollAttributes}}
          {{#with item=qollType parent=qoll}}
          <span class="badge pull-left qoll-response-val {{qoll_abbr_class item.index}} {{is_chk_selected item.index  parent.q }} 
          {{check_selected parent._id item.index}}  glossy">
          
            {{qoll_type_abbr item.index}}
          </span>
          {{/with}}
          {{/if}}
            &nbsp;{{#mathjax}}<span>{{{get_qoll_type qollType.value qoll.qollAttributes}}}</span>{{/mathjax}}
          {{#if is_blank_type qoll.qollAttributes}}
          <span id="{{qoll._id}}" class="badge pull-left register-blank glossy green_bg_1">
            Submit
          </span>
          {{/if}}
        </div>
        <div class="col-md-2 col-xs-2">
            {{#if is_correct_answer qoll.qollTypesX qollType.index if_createusr}}
              <i class="glyphicon glyphicon-check green"></i>
            {{/if}}
            <span class="badge pull-right fulltoggle">{{value_at qoll.stats qollType.index}}</span>
        </div>
        {{#with  value_at qoll.answers qollType.index}}
        <div class="col-md-12 col-xs-12  list-group-item-info">
            
            Answered By:  {{comma_seperate this}}
           
        </div>
         {{/with}}
      </div>

     

</template>
