<template name="aceEditor">
{{#constant}}
<div id='aceEditor'>

#Qoll Adding a __new qoll__ here {inline}(a_n), (b_n){/inline} and {inline}(c_n){/inline}
{block}
\lim a_n=\lim b_n=\lim c_n.
{/block}

- *option* __1__
{block}
x = {-b \pm \sqrt{b^2-4ac} \over 2a}.
{/block}
- *option* __2__
- *option* __3__

#Qoll Adding another qoll here
- *option* __1__
- *adding* __2__
- *adding* __3__

#Qoll Adding another qoll here
- *option* __xyz1__
- *adding* __abc2__
- *adding* __pqr3__
- *adding* __wer4__

#Qoll Adding another qoll here
- *option* __xyz1__
- *adding* __abc2__
- *adding* __pqr3__
- *adding* __wer4__
- *option* __1__
- *adding* __2__
- *adding* __3__

#Qoll Adding a new qoll for one more testing for the editor
- This is an option with phy101
- This is an option with phy102
- This is another option with chem101
- This is fourth option with chem102
-(a) This is last option with checm203/phy203
> A code block for text/css{inline}inline maths code{/inline}
{block}
Block maths code
{/block}

</div>
{{/constant}}



<div id="aceEditor_Preview" class="is-invisible">
<div>

</template>