<!--
  QollConstants.EDITOR_MODE.BASIC - basic
  QollConstants.EDITOR_MODE.ADV - advanced (used for markdown now)
  QollConstants.EDITOR_MODE.HTML - html
-->
<template name="editor_selector">
	<div class="row">
	<div class="col-md-12 col-xs-12 text-right">
		<label class="control-label">&nbsp; Editor :&rarr;</label>
		<!-- Basic does not work today properly from look and feel perspective :(-->
		<!-- label class="radio-inline">
		  <input type="radio" name="editorPref" id="simple" value="basic" {{is_basic}}> Simple
		</label -->
		<label class="radio-inline">
		  <input type="radio" name="editorPref" id="markdown" value="markdown" {{is_adv}}> Text
		</label>
		<!-- label class="radio-inline">
		  <input type="radio" name="editorPref" id="ckeditor" value="html" {{is_html}}> Html
		</label -->
		<label class="radio-inline">
		  <input type="radio" name="editorPref" id="template" value="template" {{is_template}}> Quick
		</label>
	</div>
	</div>
</template>