<template name="preview">
	<div class="col-md-6 col-xs-12" style="height: 450px; overflow: scroll;">
		<!-- {{#each preview_content}}
			{{> single_qoll q= this  btns= ../btns}}
		{{/each}} -->

		<!-- div id="MathDiv">
		  The answer you provided is: \({}\).
		</div -->
		<div style="visibility: hidden;height: 0px;">{{#mathjax}} $$ Ax^3+ax^2+bx+c = 0  $$ {{/mathjax}}</div>
		
		{{#each preview_content}}
		<div class='col-md-12 col-xs-12 list-group-item bg-qoll qoll-seperator'>
			<h4>(Q{{this.idx}}) {{{transform_txt this.title this.cat QollConstants.CONTEXT.READ this.fib this.tex this.texMode this.idx}}}</h4>

			<h5>{{{transform_txt this.text this.cat QollConstants.CONTEXT.READ this.fib this.tex this.texMode this.idx}}}</h5>

			{{{get_units_html this.unit_name this.units}}}

			{{#if this.unit}}
	          <div class="input-group">{{#if this.unit_name}}{{this.unit_name}}: {{else}}Unit: {{/if}}
	            {{#each this.unit}} 
	                <input name="unit" value="{{this}}" type="radio"> &nbsp; {{this}} &nbsp;&nbsp;&nbsp;
	            {{/each}}
	          </div>
	        {{/if}}

	        {{#each imgs this.imgs}}
	          <img src="{{this.url store='thumbs_1'}}" class="qoll-thumbs" data-gallery id="{{this._id}}"/>
	        {{/each}}

	        {{#if this.hint}}
	          <button type="button" class="btn btn-warning pull-right" data-toggle="tooltip"
	            data-placement="left" title="Partial credit will be deducted..." id="show_hint">Hint
	          </button>
	          <div class="red_1" id="hint">
	            <h5>{{{this.hint}}}<u>(Already used hint)</u></h5>
	          </div>
	        {{/if}}

	        {{#if is_blank_type this.cat}}
	          <!--span id="{{q._id}}" class="badge pull-left register-blank glossy green_bg_1"-->
	          <span id="{{this.qoll_idx_title}}" class="badge pull-left {{get_register_class QollConstants.CONTEXT.READ}} glossy {{get_register_bg_class QollConstants.CONTEXT.READ}}">
	            Submit
	          </span>
	        {{/if}}
	        {{#each this.typesX}}
				<div class='col-md-12 col-xs-12 list-group-item'>
					<span class='badge pull-left qoll-response-val class_{{this.index}} glossy'>{{qoll_type_abbr this.index}}</span>
					{{{transform_txt this.type ../cat QollConstants.CONTEXT.READ ../fib ../tex ../texMode ../idx}}}
					{{#if is_correct_answer this this.index QollConstants.CONTEXT.READ}}
		              <i class="glyphicon glyphicon-check green"></i>
		            {{/if}}
				</div>
			{{/each}}

			{{#if this.explanation}}
			<div class="row">
		      <div class="col-md-12 col-xs-12">
		        <span class="qoll-comment-display-9">Explanation: </span>
		        <!--<h5><pre>{{{this.explanation.txt}}}</pre></h5> -->
		        <h5><pre>{{{transform_txt this.explanation this.cat QollConstants.CONTEXT.READ this.fib this.tex this.texMode this.idx}}}</pre></h5>
		      </div>
		    </div>
		    {{/if}}

		</div>
		{{/each}}

	</div>
</template>

