<template name='qolleditor'>
	{{> header_awesome}}

	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> qoll_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid container">

				<div class="" id="aceEditorContainer">

				<!-- div id="aceEditorContainer" -->

				<!--div class='dummy_class'>Click me!</div-->
				{{> editor_selector}}

				<!-- If the editor selection is markdown then this one will work -->
				{{#if is_adv}}
					{{> recipient}}
					<!-- {{> qolleditor_adv}} -->
				{{/if}}

				<!-- If the editor selection is html then this one will work -->
				{{#if is_html}}
					{{> recipient}}
					{{> html_editor}}
				{{/if}}

				<!-- If the editor selection is basic then this one will work -->
				{{#if is_basic}}
					{{> recipient}}
					{{> newqoll}}
				{{/if}}

				{{#if is_template}}
					{{> quick_qoll}}
				{{/if}}

				<!--/div-->
				</div>
			</div>
		</div>
	</div>

</template>