<template name='qolleditor'>
	{{> header_awesome}}
	<br>

	<div id="aceEditorContainer">

	<!--div class='dummy_class'>Click me!</div-->
	{{> editor_selector}}

	{{> recipient}}

	<!-- If the editor selection is markdown then this one will work -->
	{{#if is_adv}}
		{{> qolleditor_adv}}
	{{/if}}

	<!-- If the editor selection is html then this one will work -->
	{{#if is_html}}
		{{> html_editor}}
	{{/if}}

	<!-- If the editor selection is basic then this one will work -->
	{{#if is_basic}}
		{{> newqoll}}
	{{/if}}

	</div>

</template>