<template name="recipient">
	<div class="well well-sm">

		<div class="input-group input-group-sm">
   	
		   	<span class="input-group-btn">
		     	<button type="button" class="btn btn-primary qoll-width-1"  >Attributes: </button>
		    </span>
		    <div class="control-group">
			  	<div class="controls">
			  		<label class="control-label control-label-1">&nbsp; Access :&rarr;</label>
				    <label class="radio-inline">
					  <input type="radio" name="attribute_access" id="public" value="option1"> Public
					</label>
					<label class="radio-inline">
					  <input type="radio" name="attribute_access" id="personal" value="option2"> Personal
					</label>
				</div><!-- controls -->
			</div><!-- control-group -->

		</div><!-- /input-group --><br>

    	<div class="input-group input-group-sm">
   	
		   	<span class="input-group-btn">
		     	<button type="button" class="btn btn-primary qollQbankToggle qoll-width-1"  >Qoll To: <span class="caret"></span></button>
		    </span>
	    
			 <input type="text" class="recipient form-control" placeholder="Send To: Recipients seperated by comma ..." default="procrazium@gmail.com" id="recipient_search" data-intro="Start by creating a comma separated list of recipient group-names and/or emails. Group names support autocomplete." data-step="1">

		</div><!-- /input-group --><br>

		<div class="input-group input-group-sm">

			 <span class="input-group-btn">
		     	<button type="button" class="btn btn-info qoll-width-1"  >Add Tags:<sup class="red">*</sup></button>
		    </span>
	    
			 <input type="text" class="tags form-control" placeholder="Add Tags: Space separated tags ..." default="" id="tags" data-intro="Start by creating space separated tags fo searching later ..." data-step="1">

		</div><!-- /input-group -->
	</div>

	<div class="input-group input-group-sm">
		<button type="button" id="store" class="btn btn-primary btn-md store">Store</button> &nbsp;
		<button type="button" id="send" class="btn btn-primary btn-md send">Send</button>
	</div>
</template>