<template name="recipient">
	<div class="well well-sm">
   <div class="input-group input-group-sm">
   	 <span class="input-group-btn">
     		<button type="button" class="btn btn-primary qollQbankToggle"  >Qoll To: <span class="caret"></span></button>
     </span>
		 <input type="text" class="recipient form-control" placeholder="Send To: Recipients seperated by comma ..." default="procrazium@gmail.com" id="recipient_search" data-intro="Start by creating a comma separated list of recipient group-names and/or emails. Group names support autocomplete." data-step="1">
		</div><!-- /input-group -->
	</div>
</template>