<template name="toolbar">
	<div class="editor-toolbar">

		<span class="toolbar-buttons"><a class="toolbar-buttons-link addqoll" href="#" title="Ctrl+Q">  New Qoll </a></span>
		<span class="toolbar-buttons"><a class="toolbar-buttons-link addopti" href="#" title="Ctrl+O">  Opt </a></span>
		<span class="toolbar-buttons"><a class="toolbar-buttons-link addcode" href="#" title="Ctrl+C">  Code </a></span>
		<span class="toolbar-buttons"><a class="toolbar-buttons-link addbloc" href="#" title="Ctrl+>">  Block </a></span>
		<span class="toolbar-buttons"><a class="toolbar-buttons-link addltxi" href="#" title="Ctrl+I">  {{#mathjax}}$LaTeX^I${{/mathjax}} </a></span>
		<span class="toolbar-buttons"><a class="toolbar-buttons-link addltxb" href="#" title="Ctrl+L">  {{#mathjax}}$LaTeX^B${{/mathjax}} </a></span>&nbsp;
		<span class="toolbar-checkqoll"><a class="toolbar-buttons-link checkqoll" href="#" title="Ctrl+A"> <i class="glyphicon glyphicon-check green"></i> </a></span>

		<span class="toolbar-error-msg red"></span>


		<span class="toolbar-buttons toolbar-buttons-right toolbar-storqoll"><a class="toolbar-buttons-link storqoll" href="#" title="Ctrl+S">  Store </a></span>

		<span class="toolbar-buttons toolbar-buttons-right toolbar-sendqoll"><a class="toolbar-buttons-link sendqoll" href="#" title="Send"> <i class="glyphicon glyphicon-send"></i> </a></span>

		<span class="toolbar-buttons toolbar-buttons-right toolbar-previewqoll"><a class="toolbar-buttons-link previewqoll" href="#" title="Ctrl+P"> <i class="glyphicon glyphicon-eye-open"></i> </a></span>

	</div>
</template>

<template name="tagger">
	<div class="editor-writer">
		<textarea class="editor" placeholder="tags separated by spaces ..."></textarea>
	</div>
</template>