<template name="chemwiki_sent">
	<!-- {{> header_awesome page_label="SENT"}} -->

		<!-- Page content -->
			<div class="container-fluid container">
			
			<!-- Keep all page content within the page-content inset div! -->
				<div class="row">
	            	
					<div class="col-md-6 col-sm-6 col-xs-10">
						&nbsp;<!-- input type="text" class="filter-by-tag form-control" placeholder="Filter by typing tags ..." default="Qollstionnaire title" -->
					</div>
					<div class="col-md-1 col-sm-1 desk-only">
						Size
					</div>
					<div class="col-md-1 col-sm-1 desk-only">
						Rate
					</div>
					<div class='col-md-2 col-sm-2 desk-only'>Closed On</div>
				</div>

					{{#each qolls}}
				<div class="row">
				<!-- Start of Qoll Section -->
				<div class="col-md-12 col-sm-12 list-group-item list-group-item-success  {{length_class}}" id='qdiv_{{_id}}'>

					<div class="row">
						<div class="col-md-1 col-sm-1 col-xs-1">
							<input type="checkbox" class="qoll_selection" id="{{_id}}"/>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-7 make-clickable">
							<a href="{{ pathFor 'sentView_chemwiki'}}" class='black-link'>
								{{{title}}}
							</a>
						</div>
						<div class="col-md-1 col-sm-1 desk-only">
							{{qoll_count}}
						</div>
						<div class="col-md-1 col-sm-1 desk-only">
							{{respo_length}} / {{recips_count}}
						</div>
						<div class="col-md-2 col-sm-2 desk-only">
							{{{closed_on this}}}
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<span class="pull-left sendemail glossy-action r-marge" title="Resend the questionnaire"><i class="glyphicon glyphicon-envelope green ios-enabled"></i></span>

							<span class="pull-left copy-link glossy-action r-marge" title="Copy the embeddable link" data-toggle="popover" data-placement="left"><i class="glyphicon glyphicon-link blue ios-enabled"></i></span>

							<span class="pull-left archive-qoll-btn glossy-action" title="Archive the questionnaire"><i class="glyphicon glyphicon-trash red ios-enabled"></i></span>
							
							<!-- span class="pull-left lock-qoll-btn glossy"><i class="glyphicon glyphicon-off orange lock-btn ios-enabled"></i></span -->
						</div>
					</div>
				</div><!-- list-group-item list-group-item-success -->
				<!-- End of Qoll Section here -->
				</div><!-- /row-->
				{{/each}}
			</div>
</template>