<template name="view_inbox_board">
	{{> header_awesome page_label="INBOX BOARD"}}

	<div id="wrapper">
		<!-- Sidebar -->
		{{> qoll_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid container">
				<div class="row">
					<div class="col-md-1 col-sm-1 col-xs-12">
						<button type="button" id="bkButton" data-loading-text="Loading..." class="btn btn-primary">
						  <span class="glyphicon glyphicon-chevron-left">Back</span>
						</button>
					</div>
					<div class="col-md-11 col-sm-11 col-xs-12" style="font-size: medium; font-weight: bold;">
						<span class="qoll-comment-display-5">Title: {{questionaire.title}} ({{questionaire.qoll_count}}) </span>
						<span class="qoll-comment-display-6">{{{questionaire.createdByName}}} </span> 
						<span class="qoll-comment-display-7">{{{created_on questionaire.createdOn}}} </span>
					</div>
				</div>

				{{> qolls_inner qollList = this.qollList  btns= inbox_board_btns }}
				<br>

				{{#if is_not_submitted questionaire}}
				<div class="row row-submit"><div class="col-md-12 col-xs-12">
					<button type="button" id="submit_questionnaire" class="btn btn-primary btn-lg btn-block">
						Submit Questionnaire
					</button>
				</div></div>
				{{/if}}

				{{#if is_submitted questionaire}}
				<div class="row row-submitted"><div class="col-md-12 col-xs-12">
					<button type="button" id="submitted_questionnaire" class="btn btn-primary btn-lg disabled btn-block">
						Submitted Questionnaire
					</button>
				</div></div>
				{{/if}}

				<div class="row row-confirm is-invisible">
					<div class="col-md-6 col-xs-6">
						<button type="button" 
							id="confirm_submission" 
							class="btn btn-primary btn-lg btn-block"
							data-questionaire_id="{{questionaire._id}}">
							Confirm Submission
						</button>
					</div>
					<div class="col-md-6 col-xs-6">
						<button type="button" id="cancel_submission" class="btn btn-primary btn-lg btn-block">
							Cancel Submission
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="progress_bar">
	<div id="progressbar"></div>
</template>