<template name="view_inbox_board">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		{{> qoll_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="content-header">
	            <h1>
	            	<!-- Toggle on small screen -->
	                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
	                Inbox Detail
	            </h1>
	        </div>
			
			<hr class='divider divider-bottom-0'>
			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content inset inset-5">

				<div class="row">
					<div class="col-md-12 col-xs-12 list-group-item list-group-item-heading" >
						
						<div class="col-md-1 col-xs-12 list-group-item-align">
							<a href="{{ pathFor 'view_inbox' }}" class='white-link make-clickable'>&larr; back</a>
						</div>
						<div class="col-md-7 col-xs-12 list-group-item-align">
							<span class="qoll-comment-display-5">Title: {{questionaire.title}} ({{questionaire.qoll_count}}) </span>
							<span class="qoll-comment-display-6">{{{questionaire.createdByName}}} </span> 
							<span class="qoll-comment-display-7">{{{created_on questionaire.createdOn}}} </span>
						</div>
						<!--div class='col-md-6 col-xs-12 list-group-item-align'>{{> progress_bar}}</div-->
						<div class="col-md-4 col-xs-12 list-group-item-align">
							&nbsp;
						</div>
						<!--div class="col-md-1 col-xs-12 list-group-item-align">
							&nbsp;
						</div-->
					</div><!-- list-group-item list-group-item-heading -->

					<!-- div class='col-md-12 col-xs-12 list-group-item-align'>{{> progress_bar}} - {{progress}}</div -->

				</div><!-- /row-->
				{{> qolls_inner qollList = this.qollList  btns= inbox_board_btns }}
				<br>

				{{#if is_not_submitted questionaire}}
				<div class="row row-submit"><div class="col-md-12 col-xs-12">
					<button type="button" id="submit_questionnaire" class="btn btn-primary btn-lg btn-block">
						Submit Questionnaire
					</button>
				</div></div>
				{{/if}}

				{{#if is_submitted questionaire}}
				<div class="row row-submitted"><div class="col-md-12 col-xs-12">
					<button type="button" id="submitted_questionnaire" class="btn btn-primary btn-lg disabled btn-block">
						Submitted Questionnaire
					</button>
				</div></div>
				{{/if}}

				<div class="row row-confirm is-invisible">
					<div class="col-md-6 col-xs-6">
						<button type="button" 
							id="confirm_submission" 
							class="btn btn-primary btn-lg btn-block"
							data-questionaire_id="{{questionaire._id}}">
							Confirm Submission
						</button>
					</div>
					<div class="col-md-6 col-xs-6">
						<button type="button" id="cancel_submission" class="btn btn-primary btn-lg btn-block">
							Cancel Submission
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="progress_bar">
	<div id="progressbar"></div>
</template>