<template name="howto">
	{{> header_awesome}}

<div id="aceEditorContainer"> 

<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3><span class="green">HowTo?</span> Videos</h3>
	</div>
</div>
<hr class="divider divider-bottom-0">

<div class="row">
	<div class="col-md-12 col-xs-12">
		<h4>(1) Create one or more Qolls using simple or advanced text editor</h4>
	</div>
</div>
<hr class="divider divider-bottom-0">

<div class="row">
	<div class="col-md-5 col-xs-5">

		<iframe width="420" height="315" src="http://www.youtube.com/embed/mlGnZUJPUZw?autoplay=0&fs=1&modestbranding=1"> </iframe>

	</div>
	
	<div class="col-md-7 col-xs-7">

		<div class="row">

			<div class="col-md-12 col-xs-12">
				- Navigate to the Create Qoll page and select from two of the advanced editor options (Text or HTML) or Quick for simple editor
				- In the simple editor you can add a recipient to send single Qoll as you create it or you can skip the recipient
				<br>- Add Qoll Title, Qoll Text, and some Qoll Options to create the Qoll
				- In the advanced editor (Text), every Qoll must start with a # followed by a blank-space
				<br>     <u class="red"><b># T</b></u>his is Qoll Title
				<br>- Qoll text must start in a new line with <b>*txt </b> or <b>*text </b> followed by a space
				<br>     <u class="red"><b>*txt T</b></u>his is Qoll Text
				<br>     <u class="red"><b>*text T</b></u>his is Qoll Text
				<br>- Every option must start with one of the followings -> <b>- or (Alphabets) or Alphabets or numbers</b> followed by <b>.</b> or not
				<br> <u class="red"><b>- T</b></u>his is an option
				<br> <u class="red"><b>(1) T</b></u>his is an option
				<br> <u class="red"><b>(A) T</b></u>his is an option
				<br> <u class="red"><b>(a) T</b></u>his is an option
				<br> <u class="red"><b>A. T</b></u>his is an option
				<br> <u class="red"><b>a. T</b></u>his is an option
			</div>

		</div>

	</div>
</div>

<br>

<hr class="divider divider-bottom-0">
<div class="row">
	<div class="col-md-12 col-xs-12">
		<h4>(2) Create new questionnaire, send it, and review the results</h4>
	</div>
</div>
<hr class="divider divider-bottom-0">

<div class="row">
	<div class="col-md-5 col-xs-5">

		<iframe width="420" height="315" src="http://www.youtube.com/embed/liUQ4QP22ho?autoplay=0&fs=1&modestbranding=1"> </iframe>

	</div>
	
	<div class="col-md-7 col-xs-7">
		- Navigate to the <b>QBank -> Qolls</b> page
		<br>- Start by selecting from your collection of Qolls
		<br>- Once you have selected enough Qolls for your questionnaire, click on the horizontal bar of the Questionnaire editor
		<br>- Enter a Questionnaire title
		<br>- Enter from your group names or comma seperated list of emails
		<br>- Add a tag so that you can search for your Questionnaire in future
		<br>- Click <u class="red"><b>Store</b></u> to store now and send later or <u class="red"><b>Send</b></u> to send now
		<br>- Recepient will get the Qolls in their <b>QBank -> Inbox</b> and also in the registered email-box
		<br>- You can navigate to <b>QBank -> Sent</b> page to review the results of sent Questionnaires
		<br>- Draft is for storing the Questionnaires nor and sending it later
	</div>
</div>

<br>

<hr class="divider divider-bottom-0">
<div class="row">
	<div class="col-md-12 col-xs-12">
		<h4>(3) Create new groups and group management</h4>
	</div>
</div>
<hr class="divider divider-bottom-0">

<div class="row">
	<div class="col-md-5 col-xs-5">

		<iframe width="420" height="315" src="http://www.youtube.com/embed/liUQ4QP22ho?autoplay=0&fs=1&modestbranding=1"> </iframe>

	</div>
	
	<div class="col-md-7 col-xs-7">
		- Group Management
	</div>
</div>

<br>

<hr class="divider divider-bottom-0">
<div class="row">
	<div class="col-md-12 col-xs-12">
		<h4>(4) Account Management</h4>
	</div>
</div>
<hr class="divider divider-bottom-0">

<div class="row">
	<div class="col-md-5 col-xs-5">

		<iframe width="420" height="315" src="http://www.youtube.com/embed/liUQ4QP22ho?autoplay=0&fs=1&modestbranding=1"> </iframe>

	</div>
	
	<div class="col-md-7 col-xs-7">
		- Account Management
	</div>
</div>


<br>

<hr class="divider divider-bottom-0">
<div class="row">
	<div class="col-md-12 col-xs-12">
		<h4>(5) Using Qoll</h4>
	</div>
</div>
<hr class="divider divider-bottom-0">

<div class="row">
	<div class="col-md-5 col-xs-5">

		<iframe width="420" height="315" src="http://www.youtube.com/embed/liUQ4QP22ho?autoplay=0&fs=1&modestbranding=1"> </iframe>

	</div>
	
	<div class="col-md-7 col-xs-7">
		- Qoll (Discovery in motion)
	</div>
</div>


</div>

</template>