<template name="howto">
	{{> header_awesome}}

	<br />
	{{> how_to_toc}}

	{{> how_to_content_joinqoll}}

	{{> how_to_content_createqoll}}

	{{> how_to_content_create_questionnaire}}

	{{> how_to_content_groups}}

</template>

<template name='how_to_toc'>
	<div class="container-fluid" id="toc">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >How to use Qoll</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!--/start contents here -->

		<br />

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<ul style="list-style: none; padding: 0; margin: 0;">
					<li><h5><a target="_self" href="#content_joinqoll">Join Qoll</a></h5></li>
					<ul>
						<li>Signing Up - Register & Verify Email</li>
						<li>Reset Password</li>
						<li>Profile Management</li>
					</ul>
				</ul>
				<ul style="list-style: none; padding: 0; margin: 0;">
					<li><h5><a target="_self" href="#content_createqoll">Create Qoll</a></h5></li>
					<ul>
						<li>Knowing Qoll Editor</li>
						<li>Qoll Basics</li>
						<li>Qoll Advanced</li>
					</ul>
				</ul>
				<ul style="list-style: none; padding: 0; margin: 0;">
					<li><h5><a target="_self" href="#create_questionnaire">Create & Take Questionnaire</a></h5></li>
					<ul>
						<li>Box</li>
						<li>All my qolls - Qolls</li>
						<li>Draft Questionnaires</li>
						<li>Sent Questionnaires</li>
						<li>Inbox</li>
						<li>Quicker page</li>
					</ul>
				</ul>
				<ul style="list-style: none; padding: 0; margin: 0;">
					<li><h5><a target="_self" href="#content_groups">Manage Groups</a></h5></li>
					<ul>
						<li>Groups</li>
						<li>Share Circle</li>
						<li>Subscriptions</li>
					</ul>
				</ul>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
</template>


<template name='how_to_content_joinqoll'>
	<div class="container-fluid" id="content_joinqoll">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >Join Qoll</div>
			</div>
			<div class="col-md-1" style="float: right;">
				<a target="_self" href="#toc">Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
			</div>
		</div>
		<!--/start contents here -->

		<br />

		<h5>Signing up</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>(1) Register</dt>
				  <dd>Click on <b>SignIn</b> button at the top right corner, and then click on <b>Create Account</b>. Input all the details, accept conditions and click on <b>Create</b>. Go to step (2) before you can sign-in</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(2) Verify Email</dt>
				  <dd>You must have received an email from Qoll Admin. Check your registered email-id for it, and click on <b>Activate Qoll Account</b>. Once you have verified your email, you can use that to sign-into Qoll. You can also reset your password in case you forgot it.</dd>
				</dl>
		    </div>
		    <div class="col-md-1"></div>
		</div>


		<h5>Reset Password</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>(1) Already Signed-In</dt>
				  <dd>If you are already signed-in and want to change the password, click on your <b>profile-name</b> at the top right hand corner, and click on <b>Change Password</b>. Follow the instructions.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(2) Not Signed-In</dt>
				  <dd>Click on the <b>SignIn</b> button at the top right hand corner, and then click on the <b>Forgot password?</b>. This sends an email to your registered email. Check the email and click on <b>Reset password</b> and follow the instructions.</dd>
				</dl>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<h5>Profile Management</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>View & Change Profile</dt>
				  <dd>Click on your profile name at the top right hand corner, and then click on <b>View Profile</b> or <b>Edit Profile</b>.</dd>
				</dl>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
</template>


<template name='how_to_content_createqoll'>
	<div class="container-fluid" id="content_createqoll">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >Create Qoll</div>
			</div>
			<div class="col-md-1" style="float: right;">
				<a target="_self" href="#toc">Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
			</div>
		</div>
		<!--/start contents here -->

		<br />

		<h5>Knowing Qoll Editor</h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>(1) Find the Editor</dt>
				  <dd>After you have logged-in, Click on the <b>Box</b> and then locate <b>Q+</b> at the top. Click on it, and you shall be on the editor page.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(2) Modes</dt>
				  <dd>There are two sets of settings to choose from for editor <img style="max-width:100px; zoom: 400%;" src="/img/editor_modes.png"/></dd>
				  <dd><b>Editor &rarrtl; Text</b> mode is the free form markdown editor. This is recommended editor for creating new Qolls.</dd>
				  <dd><b>TeX Mode &rarrtl; MathJax</b> is the recommended mode for TeX rendering if you indend to write some.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(3) Editor Options</dt>
				  <dd>There are three input options <img style="max-width:100px; zoom: 600%;" src="/img/editor_options.png"/></dd>
				  <dd><b>Share With &rarrtl;</b> You can add emails of the people you want to share the Qolls with.</dd>
				  <dd><b>Topics &rarrtl;</b> If you want to arrange qolls with proper table of contents like a book, add topics.</dd>
				  <dd><b>Tags &rarrtl;</b> Tags will be good for searching from qolls later, when you have too many to scroll through.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(4) Editor Toolbar</dt>
				  <dd>Knowing the toolbar options can be helpful for creating the qolls in the text editor<br/> <img style="max-width:100px; zoom: 600%;" src="/img/editor_toolbar.png"/><br/> You will be mostly using the first two options in the toolbar since it gives you a shell question right away.</dd>

				  <dd><b>Q(fib)+ - </b> This quickly creates a fill in the blanks question. We will explain more about fill in the blanks later.</dd>

				  <dd><b>Q(multi)+ - </b> This quickly creates a multiple choice question. We will explain more about multiple choice questions later.</dd>

				  <dd><b>AddChoice - </b> this adds a new choice to a multiple choice question. You may also want to just go to a newline and type <b>-</b> followed by a space to add a new choice.</dd>

				  <dd><b>LabelCorrect - </b> this quickly makes a choice correct in multiple choice questions. However, there is a quicker short cut for this. We will explain more in details later.</dd>

				  <dd><b>Attach - </b> gives you option to load new pictures and then attach that to your question. You should go to a newline before choices to attach a new image. You will see some kind of id when you finish attaching; do not modify it.</dd>

				  <dd><b>TeX - </b> press this to quickly add tags for TeX expressions at the place of cursor.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(5) Editor </dt>
				  <dd>The editor is devided equally in two parts. One for typing and the other to quickly show you preview of how the qoll will look like when used later.</dd>
				</dl>

		    </div>
		    <div class="col-md-1"></div>
		</div>

		<h5><b>Qoll (basics)</b></h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>#</dt>
				  <dd>Every qoll, whether multiple choice or fill in the blanks, will always start with a <b>#</b> followed by a blank space</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>_blanks_</dt>
				  <dd>In a fill in the blank question, the value that the student has to fill will be contained between two underscores. When we parse the text on server, we store this as answe and do not show it to the student.</dd>

				  <dd>Here is a simple fill in the blanks question and how it will look - <img style="max-width:200px; zoom: 400%;" src="/img/fib_preview.png"/></dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>Multiple choice question</dt>
				  <dd>A multiple choice question has three basic parts -</dd>
				  <dd><b>#</b> - as explained in blanks, put the starting some portion of question starting with #</dd>
				  <dd><b>*text</b> - This will be rest of the text of the question</dd>
				  <dd><b>- </b> The options for multiple choice will start with a dash.</dd>

				  <dd>Here is a simple multiple-choice question and how it will look - <img style="max-width:200px; zoom: 400%;" src="/img/mcq_preview.png"/></dd>
				</dl>

		    </div>
		    <div class="col-md-1"></div>
		</div>


		<h5><b>Qoll (Advanced)</b></h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>*hint </dt>
				  <dd>You can add hints to a question, for which student will be penalized if used.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>*answer </dt>
				  <dd>You can add answers for a multiple choice question</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>*explanation </dt>
				  <dd>You can add explanation/solution for a question, which is shown to the student after submission.</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>TeX </dt>
				  <dd>We have two modes of TeX rendering - 1) MathJax - open source and more general and 2) KTeX - Khan academy's light-weight TeX rendering script, limited to the fonts supplied by Khan Academy.<br/><br/> We recommend using MathJax mode.<br/><br/>You can embed TeX in the qolls by typing the TeX expression between <b>begin</b> and <b>end</b>. See how it is rendered in the attachment.<br/><br/><b>Note: </b> We support chemistry-TeX expressions also and you can simply type those also in the middle of begin and end anywhere in the Qoll.<br/><br/><b>Note:</b>Put one or more TeX expressions as per your need, but each has to be within begin and end to be rendered as TeX.<br/></dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>Sample with MathJax </dt>
				  <dd><img style="max-width:200px; zoom: 400%;" src="/img/qolls_maths_preview.png"/></dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>Sample with ChemJax </dt>
				  <dd><img style="max-width:200px; zoom: 400%;" src="/img/qolls_chemistry_preview.png"/></dd>
				</dl>

		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
</template>



<template name='how_to_content_create_questionnaire'>
	<div class="container-fluid" id="create_questionnaire">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div >Create & Take Questionnaire</div>
			</div>
			<div class="col-md-1" style="float: right;">
				<a target="_self" href="#toc">Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
			</div>
		</div>
		<!--/start contents here -->

		<br />

		<h5><b>Box</b></h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<dl class="dl-horizontal">
				  <dt>Box</dt>
				  <dd>Once you have signed in, click on the <b>Box</b> in the header. Box has few pages that lets you manage your Qolls and Questionnaires. Lets talk in detail about each of the tabs on the vertical menu bar</dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(1) Qolls</dt>
				  <dd>Qolls is the last menu option on the vertical left hand bar under <b>Qoll Mgmt</b>. This is where you will see all the Qolls you created or have access to. Click on it and follow the next set of instructions.</dd><br/>
				  <dd><b>Search: </b>Search box is located at the top of the page. You can start typing in the box, simple text or probable tags of your query and narrow down the search results.</dd><br/>
				  <dd><b>Flat or Folder: </b>Flat presentation shows all the Qolls withou any content information. Folder will arange the Qolls as per the table of contents. You can navigate through the tree of table of contents and narrow down the results.</dd><br/>
				  <dd><b>View Qoll: </b>You can click on the Qolls and see it in details.</dd>
				  <dd><b>Delete & Edit: </b>If you are the owner or have full access to the Qoll, you will see the delete or edit buttons on the right side.</dd><br/>
				  <dd><b>Create Questionnaire: </b>Select the Qolls by clicking the checkboxes. Once you are done selecting, you will see a green box at the bottom right corner. Click on that and a pop-up will showup with all the Qolls you selected.</dd>
				  <dd>Select the Qolls by clicking the checkboxes. Once you are done selecting, you will see a green box at the bottom right corner. Click on that and a pop-up will showup with all the Qolls you selected.<img style="max-width:200px; zoom: 400%;" src="/img/select_qolls.png"/></dd><br>
				  <dd>Clicking green box will slide up the questionnaire. Populate it with appropriate title, tag, topics, recipient, and deadline if any. At the bottom, you will see two options - (1) Store and (2) Send. (1) Store will not send the questionnaire to the recipient right away but store it in the <b>Draft</b>. (2) Send will send the questionnaire directly to the recipient.<br/><img style="max-width:200px; zoom: 150%;" src="/img/create_questionnaire.png"/></dd><br>

				  <dd><b>Pts: </b>By default, 10 points are assigned to each questionnaire, but you can change it based on the difficulty level of the qoll.</dd><br/>

				  <dd><b>Hints: </b>By default, 30% points are deducted when a student uses hints to answer the question. You can set it to anything from 0% to 100%, and the deduction will happen accordingly.</dd><br/>
				</dl>


				<dl class="dl-horizontal">
				  <dt>(2) Drafts</dt>
				  <dd>Drafts is the menu option before Qolls. If you had stored any of the questionnaire, it will appear here. The questionnaire hasn't been sent to the recipient yet. You can click on the triangular icon and send it. An email with direct link to the questionnaire is also sent to the recipients.</dd><br/>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(3) Sent</dt>
				  <dd>Sent is your sent-box. You will see all the questionnaires that you have selected and sent to some people. <br />Click on a questionnaire and it will take you to the statistics page. <br/> <br/> Graphical representation quickly tells you how many questions in the questionnaire were answered correctly/incorrectly. The graph is interactive and you can click on various parts of it to change the presentation, e.g. - click on the three bread-crums at the bottom where it says NA, Correct, and InCorrect.<br/><img style="max-width:200px; zoom: 250%;" src="/img/graphical_representation.png"/></dd><br/>
				</dl>

				<dl class="dl-horizontal">
				  <dt>(4) Inbox</dt>
				  <dd>All the questionnaires sent to you will always be in your <b>Inbox</b>. You can click on any and go to the page to view or complete it.<br/><img style="max-width:250px; zoom: 250%;" src="/img/inbox.png"/></dd><br/><br/>

				  <dd>As a recipient, there are few things you need to know about this page. 1) If there is a hit button, click that with caution since it may have penalty. 2) Click on any of the alphabets to record your answer or fill in the blank space to answer for the fill in the blanks question. 3) Once you are done answering, scroll to the bottom of the page and submit the questionnaire. You will not be able to make changes after you have submitted the questionnaire. 4) You can put comments in the input box after every question. Other recipients or the author of questionnaire can respond to your comments.<br/><img style="max-width:250px; zoom: 250%;" src="/img/taking_questionnaire.png"/></dd><br/><br/>
				</dl>


				<dl class="dl-horizontal">
				  <dt>(5) Quicker</dt>
				  <dd>Quicker is meant to quickly test your understanding of the topic. If the author sent you a single question, it will appear in your Inbox as well as in Quicker.</dd>
				</dl>
		    </div>
		    <div class="col-md-1"></div>
		</div>

		<!--/end contents here -->
		</div>
	</div>
</template>


<template name='how_to_content_groups'>
	<div class="container-fluid" id="content_groups">
		<div style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0; padding: 45px 15px 15px; margin: 0 4px 15px; border-style: solid;">

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10" style="    margin-top: -35px; margin-left: -99px; font-size: medium; color: #585765; font-weight: bold;">
				<div>Manage Groups</div>
			</div>
			<div class="col-md-1" style="float: right;">
				<a target="_self" href="#toc">Top<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
			</div>
		</div>
		<!--/start contents here -->

		<br />

		<h5><b>Groups</b></h5>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">

				<dl class="dl-horizontal">
				  <dt>&nbsp;</dt>
				  <dd>This is a single page to help you manage groups. You can use the functionality on this page to very easily maintain and share the contents.<br/><br/></dd>
				</dl>


				<dl class="dl-horizontal">
				  <dt><img style="max-width:20px; zoom: 250%;" src="/img/group_plus.png"/></dt>
				  <dd>Click on G+ and input the details to create a new group. Subscribers can subscribe to your group later.<br/><br/></dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt><b>Share Circles</b></dt>
				  <dd>If you plan to create lot of Qolls and use that with a big group of people, get in touch with us at Qoll, and we will help you setup a share-circle and add the users to the circle to have direct access to everything that you or your organization creates.<br/><br/>If you want to access our collection of Qolls, get in touch with us and we can work on that too.<br/><img style="max-width:250px; zoom: 250%;" src="/img/share_circle.png"/><br/></dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt><b>Group Subscriptions</b></dt>
				  <dd>Start the search by typing email-id of the group owner. Select the group by clicking on it from the drop down. You can select multiple groups. Click on <b>Subscribe</b> to subscribe to the groups. Note: if it is a private grop, you will have to wait for the owner to approve.<br/><br/> Once you have subscribed to the group, you can start receive Qolls from the owners of the group.<br/><br/> To unsubscribe, click on <b>Leave</b> against the group.<br/><img style="max-width:250px; zoom: 250%;" src="/img/group_subscriptions.png"/></dd>
				</dl>

				<dl class="dl-horizontal">
				  <dt><b>My Groups</b></dt>
				  <dd>Manage your groups in this section. <br/><br/><b>Deleting</b> a group will take away all the Qolls that you ever published to the subscribers of that group.<br/><br/><b>Open Subscription Requests</b> section has all the approval request for your private groups. Approve or Deny user's request from this section.<br/><img style="max-width:250px; zoom: 250%;" src="/img/my_groups.png"/></dd>
				</dl>

		</div>
		<div class="col-md-1"></div>
	</div>

	<!--/end contents here -->
	</div>
</div>
</template>
