<template name="view_draft_board">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> qoll_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid container">
			
				<div class="row">
						
						<div class="col-md-1 col-sm-1 col-xs-12">
							<button type="button" id="bkButton" data-loading-text="Loading..." class="btn btn-primary">
							  <span class="glyphicon glyphicon-chevron-left">Back</span>
							</button>
						</div>
						<div class="col-md-11 col-sm-11 col-xs-12" style="font-size: inherit; font-weight: bold;">
							Title: {{questionaire.title}} ({{questionaire.qoll_count}})
						</div>
				</div><!-- /row-->
				{{> qolls_inner qollList = this.qollList  btns= draft_board_btns }}
			</div>
		</div>
	</div>
</template>