<template name="view_draft_board">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		{{> qoll_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
			
				<div class="row">
						
						<div class="col-md-2 col-sm-2 col-xs-2">
							<button type="button" id="bkButton" data-loading-text="Loading..." class="btn btn-primary">
							  <span class="glyphicon glyphicon-chevron-left">Back</span>
							</button>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-12">
							Title: {{questionaire.title}} ({{questionaire.qoll_count}})
						</div>
				</div><!-- /row-->
				{{> qolls_inner qollList = this.qollList  btns= draft_board_btns }}
			</div>
		</div>
	</div>
</template>