<template name="qollbank">
	{{> header_awesome}}
	<p class="lead"></p>
	<div id="aceEditorContainer">
		<H3><center>Create a qollstionnaire by selecting questions from QBank, providing title and specifying recipients.</center></H3>

		<div class="container" id="qbank-container-id">

			<!-- Starting of the row for all qolls -->
			<div class="row">
				{{> qbank_opts}}
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12 list-group-item list-group-item-heading" >

					<div class="col-md-9 col-xs-12">
						Qoll Text
					</div>
					<div class="col-md-1 col-xs-12">
						Cmplx
					</div>
					<div class="col-md-1 col-xs-12">
						Type
					</div>
					<div class="col-md-1 col-xs-12">
						<input type="checkbox" class="qoll_selectall"/>
					</div>
				</div>
			</div>
			<div class="row">
				{{#each QBankData}}
				<!-- Start of Qoll Section -->
				<div class="col-md-12 col-xs-12 list-group-item list-group-item-success" id='qdiv_{{_id}}'>

					<div class="col-md-9 col-xs-12">
						{{#mathjax}}{{{qollText}}}{{/mathjax}}
					</div>
					<div class="col-md-1 col-xs-12">
						{{attributes.complexity}}
					</div>
					<div class="col-md-1 col-xs-12">
						{{attributes.type}}
					</div>
					<div class="col-md-1 col-xs-12">
						<input type="checkbox" class="qoll_selection" id="{{_id}}"/>
					</div>
				</div>
				<!-- End of Qoll Section here -->
				{{/each}}
			</div>
			<!-- End of the row here -->

			<div id="navbrand"></div>

		</div>
	
	</div>
</template>
