<template name="social_members">
	{{> header_awesome}}
	<div id="wrapper">
		<!-- Sidebar -->
		<!-- {{> social_side_nav}} -->
		{{> all_side_nav}}

		<!-- Page content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
			
			<!-- Keep all page content within the page-content inset div! -->
			<div class="page-content container">
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#subscriber" role="tab" data-toggle="tab">Search and Add</a></li>
					 	<li><a href="#owner" role="tab" data-toggle="tab">Qoll Connects</a></li>
					 	<li><a href="#open_requests" role="tab" data-toggle="tab">Open Requests</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content row">
					  <div class="tab-pane active" id="subscriber">
					  		Search Qoll Connects ...<p>&nbsp;</p>
							<!-- div class='col-md-12' -->
								{{> list_card_long contacts=connects }}
							<!-- /div -->
						</div>
						<div class="tab-pane" id="owner">
					  		Qoll Connects ...<p>&nbsp;</p>
					  		{{> list_card_long contacts=qoll_connects btn_ctx='social_connects' }}
					  </div>
					  <div class="tab-pane" id="open_requests">
					  		Received Requests ...<p>&nbsp;</p>
							{{> list_card_long contacts=qoll_connects_open_rec_reqs btn_ctx='social_connects' }}
						
						<hr class='divider divider-bottom-0'>

							Sent Requests ...<p>&nbsp;</p>
							{{> list_card_long contacts=qoll_connects_open_reqs btn_ctx='social_connects' }}
						</div>
					</div>

			</div>

			{{> slide_up_group}}
		</div>
	</div>
</div>
</template>