<template name="search">
	<div class="main">
		<div class="container">

			<p class='pclass'>This paragraph is styled with CSS</p>

			<p id='para1'>This is another paragraph</p>

			<p class='center1'>This is third paragraph</p>

			<p class='center'>Another centered paragraph</p>

			<p class="pull-left">some search fun to come here</p>

			<br>

			<hr>This is one HR element</hr>

			<hr>

			<h3 class="class1">This is class1 h3 element</h3>

			<hr>

			<h3 class="class2 newStyleClass">This is class2 h3 element (overriden with newStyleClass)</h3>

			<hr>

			<p class="newStyleClass">This is p with newStyleClass style class</p>

			<hr>

			<h1 class="newGlobalClass-h1">This is another h1 element with newGlobalClass-h1</h1>

			<div class="divClass1">This is div with divClass1</div>

			<hr>

			<a href="#" class="aClass1">This is a link with class aClass1</a>
		</div>
	</div>
</template>