<template name="group_card1">
	<div class="group-strip-wrapper">
		<div class="entityblock profile profile-pic">
			<img src="/img/ghost_avatar.png" alt="Ghost Avatar" class="avatar-image">
		</div>
		<div class="profile-snapshot">
			<br><br><br><br><p>&nbsp;Status: Active</p>
			<p>&nbsp;Name: Group</p>
			<p>&nbsp;Type: Restricted</p>
			<p>&nbsp;Members: 187</p>
		</div>
		<div class="group-action-container">
			<a href="#" class="search" title="Edit group" aria-role="button"><span aria-hidden="true" class="glyphicon glyphicon-link red"></span></a>
		</div>
	</div>
</template>