<template name="managecontacts">
	<div class="content">
		<div class="qoll-toolbar col-md-12 col-xs-12">
			<h4>Manage Contacts<h4>
		</div><p></p>

		<div class="input-group col-md-12 col-xs-12">
		  <!-- span class="input-group-addon">@Qoll</span -->
		  <input type="text" class="form-control create-group" placeholder="Enter Group Name ...">
		</div><p></p>

		<div class="input-group div-qoll-types col-md-12 col-xs-12">
	  		<input type="text" class="qoll-type-option" id="addemail" placeholder="Enter a list of comma separated Qoll Email IDs and then click on AddEmail on the right"/>
	  		<span class="input-group-addon input-group-addon-klik add-email ios-enabled">AddEmail</span>
		</div><p></p>

		<div class="panel panel-default panel-qoll-type-list col-md-12 col-xs-12" id="">
		  <div class="panel-heading">
		    <h3 class="panel-title">Emails to be added in the Group</h3>
		  </div>
		  <div class="panel-body" id="addedemails">
		  	<!--div class="qoll-type-panel">Panel content 1</div-->
		  	<!--a class="btn btn-danger btn-sm" href="#"><i class="fa fa-trash-o fa-sm"></i></a-->
		  </div>
		</div>

	</div>

	<div class="col-md-12 col-xs-12">
		<span >
			<!--input type="button" class="btn-info add-qoll {{#unless currentUser}}disabled{{/unless}}" value="Qoll"/-->
			<a href="#" class="btn btn-primary create-group {{#unless currentUser}}disabled{{/unless}}" role="button">
				<i class="fa fa-users"></i>Create Group</a>
		</span>
	</div>



	
</template>